<div class="page-wrapper">
	<div class="content container-fluid">
		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">Bookings</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a [routerLink]="'/admin'">Dashboard</a></li>
						<li class="breadcrumb-item active">Bookings</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		<div class="row">
			<div class="col-md-12">
				<!-- Recent Orders -->
				<div class="card">
					<div class="card-body">
						<div class="table-responsive" *ngIf="appointments">
							<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="row-border hover table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>Mentor Name</th>
										<th>Course</th>
										<th>Mentee Name</th>
										<th>Booking Time</th>
										<th>Status</th>
										<th class="text-right">Amount</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let appointment of appointments">
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" [src]="appointment.docImg" alt="User Image"></a>
												<a [routerLink]="'/admin/mentor-profile'">{{appointment.doctorName}}</a>
											</h2>
										</td>
										<td>{{appointment.speciality}}</td>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle"[src]="appointment.mentees.img" alt="User Image"></a>
												<a [routerLink]="'/admin/mentor-profile'">{{appointment.mentees.name}}</a>
											</h2>
										</td>
										<td>{{appointment.appointment_time | date : 'dd MMM yyyy'}}<span class="text-primary d-block">11.00 AM - 11.35 AM</span></td>
										<td>
											<div class="status-toggle">
												<input type="checkbox" id="status_1" class="check" checked>
												<label for="status_1" class="checktoggle">checkbox</label>
											</div>
										</td>
										<td class="text-right">
											{{appointment.amount}}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			<!-- /Recent Orders -->
			</div>
		</div>
	</div>
</div>
