							<h3 class="pb-3">Booking Summary</h3>
							<!-- Mentee List Tab -->
							<div class="tab-pane show active" id="mentee-list">
								<div class="card card-table">
									<div class="card-body">
										<div class="table-responsive">
											<table class="table table-hover table-center mb-0">
												<thead>
													<tr>
														<th>MENTEE LISTS</th>
														<th>SCHEDULED DATE</th>
														<th class="text-center">SCHEDULED TIMINGS</th>
														<th class="text-center">ACTION</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>
															<h2 class="table-avatar">
																<a [routerLink]="'/mentor-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/user/user2.jpg" alt="User Image"></a>
																<a [routerLink]="'/mentor-profile'">Tyrone Roberts<span>tyroneroberts@adobe.com</span></a>
															</h2>
														</td>
														<td>08 April 2020</td>
														<td class="text-center"><span class="pending">9:00 AM - 10:00 AM</span></td>
														<td class="text-center"><a [routerLink]="'/mentor-profile'" class="btn btn-sm bg-info-light"><i class="far fa-eye"></i> View</a></td>
													</tr>
													<tr>
														<td>
															<h2 class="table-avatar">
																<a [routerLink]="'/mentor-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/user/user1.jpg" alt="User Image"></a>
																<a [routerLink]="'/mentor-profile'">Julie Pennington <span>julie@adobe.com</span></a>
															</h2>
														</td>
														<td>08 April 2020</td>
														<td class="text-center"><span class="pending">9:00 AM - 10:00 AM</span></td>
														<td class="text-center"><a [routerLink]="'/mentor-profile'" class="btn btn-sm bg-info-light"><i class="far fa-eye"></i> View</a></td>
													</tr>
													<tr>
														<td>
															<h2 class="table-avatar">
																<a [routerLink]="'/mentor-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/user/user3.jpg" alt="User Image"></a>
																<a [routerLink]="'/mentor-profile'">Allen Davis <span>allendavis@adobe.com</span></a>
															</h2>
														</td>
														<td>07 April 2020</td>
														<td class="text-center"><span class="pending">9:00 AM - 10:00 AM</span></td>
														<td class="text-center"><a [routerLink]="'/mentor-profile'" class="btn btn-sm bg-info-light"><i class="far fa-eye"></i> View</a></td>
													</tr>
													<tr>
														<td>
															<h2 class="table-avatar">
																<a [routerLink]="'/mentor-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/user/user4.jpg" alt="User Image"></a>
																<a [routerLink]="'/mentor-profile'">Patricia Manzi <span>patriciamanzi@adobe.com</span></a>
															</h2>
														</td>
														<td>07 April 2020</td>
														<td class="text-center"><span class="pending">9:00 AM - 10:00 AM</span></td>
														<td class="text-center"><a [routerLink]="'/mentor-profile'" class="btn btn-sm bg-info-light"><i class="far fa-eye"></i> View</a></td>
													</tr>
													<tr>
														<td>
															<h2 class="table-avatar">
																<a [routerLink]="'/mentor-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/user/user5.jpg" alt="User Image"></a>
																<a [routerLink]="'/mentor-profile'">Olive Lawrence <span>olivelawrence@adobe.com</span></a>
															</h2>
														</td>
														<td>06 April 2020</td>
														<td class="text-center"><span class="pending">9:00 AM - 10:00 AM</span></td>
														<td class="text-center"><a [routerLink]="'/mentor-profile'" class="btn btn-sm bg-info-light"><i class="far fa-eye"></i> View</a></td>
													</tr>
													<tr>
														<td>
															<h2 class="table-avatar">
																<a [routerLink]="'/mentor-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/user/user6.jpg" alt="User Image"></a>
																<a [routerLink]="'/mentor-profile'">Frances Foster <span>frances@adobe.com</span></a>
															</h2>
														</td>
														<td>06 April 2020</td>
														<td class="text-center"><span class="pending">9:00 AM - 10:00 AM</span></td>
														<td class="text-center"><a [routerLink]="'/mentor-profile'" class="btn btn-sm bg-info-light"><i class="far fa-eye"></i> View</a></td>
													</tr>
													<tr>
														<td>
															<h2 class="table-avatar">
																<a [routerLink]="'/mentor-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/user/user7.jpg" alt="User Image"></a>
																<a [routerLink]="'/mentor-profile'">Deloris Briscoe <span>delorisbriscoe@adobe.com</span></a>
															</h2>
														</td>
														<td>05 April 2020</td>
														<td class="text-center"><span class="pending">9:00 AM - 10:00 AM</span></td>
														<td class="text-center"><a [routerLink]="'/mentor-profile'" class="btn btn-sm bg-info-light"><i class="far fa-eye"></i> View</a></td>
													</tr>
													<tr>
														<td>
															<h2 class="table-avatar">
																<a [routerLink]="'/mentor-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/user/user2.jpg" alt="User Image"></a>
																<a [routerLink]="'/mentor-profile'">Tyrone Roberts<span>tyroneroberts@adobe.com</span></a>
															</h2>
														</td>
														<td>08 April 2020</td>
														<td class="text-center"><span class="pending">9:00 AM - 10:00 AM</span></td>
														<td class="text-center"><a [routerLink]="'/mentor-profile'" class="btn btn-sm bg-info-light"><i class="far fa-eye"></i> View</a></td>
													</tr>
													<tr>
														<td>
															<h2 class="table-avatar">
																<a [routerLink]="'/mentor-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/user/user1.jpg" alt="User Image"></a>
																<a [routerLink]="'/mentor-profile'">Julie Pennington <span>julie@adobe.com</span></a>
															</h2>
														</td>
														<td>08 April 2020</td>
														<td class="text-center"><span class="pending">9:00 AM - 10:00 AM</span></td>
														<td class="text-center"><a [routerLink]="'/mentor-profile'" class="btn btn-sm bg-info-light"><i class="far fa-eye"></i> View</a></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<!-- /Mentee List Tab -->
