<!-- Page Content -->
<div class="content blank-page">
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h5>Blank Page</h5>
          </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
