<!-- Page Content -->
<div class="content" id="content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-xl-6 col-lg-12 order-md-last order-sm-last order-last map-left">

            <div class="row align-items-center mb-4">
              <div class="col-md-6 col">
                <h4>2245 Mentees found</h4>
              </div>

              <div class="col-md-6 col-auto">
                <div class="view-icons ">
                  <a [routerLink]="'/map-grid'" class="grid-view active"><i class="fas fa-th-large"></i></a>
                  <a [routerLink]="'/map-list'" class="list-view"><i class="fas fa-bars"></i></a>
                </div>
                <div class="sort-by d-sm-block d-none">
                  <span class="sortby-fliter">
                    <ng-select2  width="100%">
                      <option selected="selected">Sort by</option>
                      <option>Rating</option>
                      <option>Popular</option>
                      <option>Latest</option>
                      <option>Free</option>
                    </ng-select2>

                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-md-4 col-xl-6">
                <div class="profile-widget">
                  <div class="user-avatar">
                    <a [routerLink]="'/mentor-profile'">
                      <img class="img-fluid" alt="User Image" src="assets/img/user/user.jpg">
                    </a>
                    <a href="javascript:void(0)" class="fav-btn">
                      <i class="far fa-bookmark"></i>
                    </a>
                  </div>
                  <div class="pro-content">
                    <h3 class="title">
                      <a [routerLink]="'/mentor-profile'">Paul Richard</a>
                      <i class="fas fa-check-circle verified"></i>
                    </h3>
                    <p class="speciality">UNIX</p>
                    <div class="rating">
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <span class="d-inline-block average-rating">(17)</span>
                    </div>
                    <ul class="available-info">
                      <li>
                        <i class="fas fa-map-marker-alt"></i> Florida, USA
                      </li>
                      <li>
                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                      </li>
                      <li>
                        <i class="far fa-money-bill-alt"></i> $300 - $1000 <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                      </li>
                    </ul>
                    <div class="row row-sm">
                      <div class="col-6">
                        <a [routerLink]="'/mentor-profile'" class="btn view-btn">View Profile</a>
                      </div>
                      <div class="col-6">
                        <a [routerLink]="'/book-now'" class="btn book-btn">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-xl-6">
                <div class="profile-widget">
                  <div class="user-avatar">
                    <a [routerLink]="'/mentor-profile'">
                      <img class="img-fluid" alt="User Image" src="assets/img/user/user1.jpg">
                    </a>
                    <a href="javascript:void(0)" class="fav-btn">
                      <i class="far fa-bookmark"></i>
                    </a>
                  </div>
                  <div class="pro-content">
                    <h3 class="title">
                      <a [routerLink]="'/mentor-profile'">Donna Yancey</a>
                      <i class="fas fa-check-circle verified"></i>
                    </h3>
                    <p class="speciality">UNIX, Calculus, Trigonometry</p>
                    <div class="rating">
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star"></i>
                      <span class="d-inline-block average-rating">(35)</span>
                    </div>
                    <ul class="available-info">
                      <li>
                        <i class="fas fa-map-marker-alt"></i> Newyork, USA
                      </li>
                      <li>
                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                      </li>
                      <li>
                        <i class="far fa-money-bill-alt"></i> $50 - $300 <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                      </li>
                    </ul>
                    <div class="row row-sm">
                      <div class="col-6">
                        <a [routerLink]="'/mentor-profile'" class="btn view-btn">View Profile</a>
                      </div>
                      <div class="col-6">
                        <a [routerLink]="'/book-now'" class="btn book-btn">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-xl-6">
                <div class="profile-widget">
                  <div class="user-avatar">
                    <a [routerLink]="'/mentor-profile'">
                      <img class="img-fluid" alt="User Image" src="assets/img/user/user2.jpg">
                    </a>
                    <a href="javascript:void(0)" class="fav-btn">
                      <i class="far fa-bookmark"></i>
                    </a>
                  </div>
                  <div class="pro-content">
                    <h3 class="title">
                      <a [routerLink]="'/mentor-profile'">Deborah Daniel</a>
                      <i class="fas fa-check-circle verified"></i>
                    </h3>
                    <p class="speciality">UNIX, Calculus, Trigonometry</p>
                    <div class="rating">
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star"></i>
                      <span class="d-inline-block average-rating">(27)</span>
                    </div>
                    <ul class="available-info">
                      <li>
                        <i class="fas fa-map-marker-alt"></i> Georgia, USA
                      </li>
                      <li>
                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                      </li>
                      <li>
                        <i class="far fa-money-bill-alt"></i> $100 - $400 <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                      </li>
                    </ul>
                    <div class="row row-sm">
                      <div class="col-6">
                        <a [routerLink]="'/mentor-profile'" class="btn view-btn">View Profile</a>
                      </div>
                      <div class="col-6">
                        <a [routerLink]="'/book-now'" class="btn book-btn">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-xl-6">
                <div class="profile-widget">
                  <div class="user-avatar">
                    <a [routerLink]="'/mentor-profile'">
                      <img class="img-fluid" alt="User Image" src="assets/img/user/user4.jpg">
                    </a>
                    <a href="javascript:void(0)" class="fav-btn">
                      <i class="far fa-bookmark"></i>
                    </a>
                  </div>
                  <div class="pro-content">
                    <h3 class="title">
                      <a [routerLink]="'/mentor-profile'">Sofia Brient</a>
                      <i class="fas fa-check-circle verified"></i>
                    </h3>
                    <p class="speciality">Computer Programming</p>
                    <div class="rating">
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star"></i>
                      <span class="d-inline-block average-rating">(4)</span>
                    </div>
                    <ul class="available-info">
                      <li>
                        <i class="fas fa-map-marker-alt"></i> Louisiana, USA
                      </li>
                      <li>
                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                      </li>
                      <li>
                        <i class="far fa-money-bill-alt"></i> $150 - $250 <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                      </li>
                    </ul>
                    <div class="row row-sm">
                      <div class="col-6">
                        <a [routerLink]="'/mentor-profile'" class="btn view-btn">View Profile</a>
                      </div>
                      <div class="col-6">
                        <a [routerLink]="'/book-now'" class="btn book-btn">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-xl-6">
                <div class="profile-widget">
                  <div class="user-avatar">
                    <a [routerLink]="'/mentor-profile'">
                      <img class="img-fluid" alt="User Image" src="assets/img/user/user5.jpg">
                    </a>
                    <a href="javascript:void(0)" class="fav-btn">
                      <i class="far fa-bookmark"></i>
                    </a>
                  </div>
                  <div class="pro-content">
                    <h3 class="title">
                      <a [routerLink]="'/mentor-profile'">Katharine Berthold </a>
                      <i class="fas fa-check-circle verified"></i>
                    </h3>
                    <p class="speciality">ASP.NET,Computer Gaming</p>
                    <div class="rating">
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star"></i>
                      <span class="d-inline-block average-rating">(66)</span>
                    </div>
                    <ul class="available-info">
                      <li>
                        <i class="fas fa-map-marker-alt"></i> Michigan, USA
                      </li>
                      <li>
                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                      </li>
                      <li>
                        <i class="far fa-money-bill-alt"></i> $50 - $700
                        <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                      </li>
                    </ul>
                    <div class="row row-sm">
                      <div class="col-6">
                        <a [routerLink]="'/mentor-profile'" class="btn view-btn">View Profile</a>
                      </div>
                      <div class="col-6">
                        <a [routerLink]="'/book-now'" class="btn book-btn">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-xl-6">
                <div class="profile-widget">
                  <div class="user-avatar">
                    <a [routerLink]="'/mentor-profile'">
                      <img class="img-fluid" alt="User Image" src="assets/img/user/user6.jpg">
                    </a>
                    <a href="javascript:void(0)" class="fav-btn">
                      <i class="far fa-bookmark"></i>
                    </a>
                  </div>
                  <div class="pro-content">
                    <h3 class="title">
                      <a [routerLink]="'/mentor-profile'">Linda Tobin </a>
                      <i class="fas fa-check-circle verified"></i>
                    </h3>
                    <p class="speciality">UNIX,Calculus,Trigonometry</p>
                    <div class="rating">
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star"></i>
                      <span class="d-inline-block average-rating">(52)</span>
                    </div>
                    <ul class="available-info">
                      <li>
                        <i class="fas fa-map-marker-alt"></i> Texas, USA
                      </li>
                      <li>
                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                      </li>
                      <li>
                        <i class="far fa-money-bill-alt"></i> $100 - $500
                        <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                      </li>
                    </ul>
                    <div class="row row-sm">
                      <div class="col-6">
                        <a [routerLink]="'/mentor-profile'" class="btn view-btn">View Profile</a>
                      </div>
                      <div class="col-6">
                        <a [routerLink]="'/book-now'" class="btn book-btn">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-xl-6">
                <div class="profile-widget">
                  <div class="user-avatar">
                    <a [routerLink]="'/mentor-profile'">
                      <img class="img-fluid" alt="User Image" src="assets/img/user/user7.jpg">
                    </a>
                    <a href="javascript:void(0)" class="fav-btn">
                      <i class="far fa-bookmark"></i>
                    </a>
                  </div>
                  <div class="pro-content">
                    <h3 class="title">
                      <a [routerLink]="'/mentor-profile'">Elsie Gilley</a>
                      <i class="fas fa-check-circle verified"></i>
                    </h3>
                    <p class="speciality">DM - Neurology</p>
                    <div class="rating">
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star"></i>
                      <span class="d-inline-block average-rating">(43)</span>
                    </div>
                    <ul class="available-info">
                      <li>
                        <i class="fas fa-map-marker-alt"></i> Kansas, USA
                      </li>
                      <li>
                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                      </li>
                      <li>
                        <i class="far fa-money-bill-alt"></i> $100 - $1000
                        <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                      </li>
                    </ul>
                    <div class="row row-sm">
                      <div class="col-6">
                        <a [routerLink]="'/mentor-profile'" class="btn view-btn">View Profile</a>
                      </div>
                      <div class="col-6">
                        <a [routerLink]="'/book-now'" class="btn book-btn">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-xl-6">
                <div class="profile-widget">
                  <div class="user-avatar">
                    <a [routerLink]="'/mentor-profile'">
                      <img class="img-fluid" alt="User Image" src="assets/img/user/user8.jpg">
                    </a>
                    <a href="javascript:void(0)" class="fav-btn">
                      <i class="far fa-bookmark"></i>
                    </a>
                  </div>
                  <div class="pro-content">
                    <h3 class="title">
                      <a [routerLink]="'/mentor-profile'">John Gibbs</a>
                      <i class="fas fa-check-circle verified"></i>
                    </h3>
                    <p class="speciality">Venereology &amp; Lepros</p>
                    <div class="rating">
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star"></i>
                      <span class="d-inline-block average-rating">(49)</span>
                    </div>
                    <ul class="available-info">
                      <li>
                        <i class="fas fa-map-marker-alt"></i> California, USA
                      </li>
                      <li>
                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                      </li>
                      <li>
                        <i class="far fa-money-bill-alt"></i> $100 - $400
                        <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                      </li>
                    </ul>
                    <div class="row row-sm">
                      <div class="col-6">
                        <a [routerLink]="'/mentor-profile'" class="btn view-btn">View Profile</a>
                      </div>
                      <div class="col-6">
                        <a [routerLink]="'/book-now'" class="btn book-btn">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-xl-6">
                <div class="profile-widget">
                  <div class="user-avatar">
                    <a [routerLink]="'/mentor-profile'">
                      <img class="img-fluid" alt="User Image" src="assets/img/user/user15.jpg">
                    </a>
                    <a href="javascript:void(0)" class="fav-btn">
                      <i class="far fa-bookmark"></i>
                    </a>
                  </div>
                  <div class="pro-content">
                    <h3 class="title">
                      <a [routerLink]="'/mentor-profile'">Andriya Nick</a>
                      <i class="fas fa-check-circle verified"></i>
                    </h3>
                    <p class="speciality">Digital Marketer</p>
                    <div class="rating">
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star"></i>
                      <span class="d-inline-block average-rating">(112)</span>
                    </div>
                    <ul class="available-info">
                      <li>
                        <i class="fas fa-map-marker-alt"></i> Oklahoma, USA
                      </li>
                      <li>
                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                      </li>
                      <li>
                        <i class="far fa-money-bill-alt"></i> $500 - $2500
                        <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                      </li>
                    </ul>
                    <div class="row row-sm">
                      <div class="col-6">
                        <a [routerLink]="'/mentor-profile'" class="btn view-btn">View Profile</a>
                      </div>
                      <div class="col-6">
                        <a [routerLink]="'/book-now'" class="btn book-btn">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-xl-6">
                <div class="profile-widget">
                  <div class="user-avatar">
                    <a [routerLink]="'/mentor-profile'">
                      <img class="img-fluid" alt="User Image" src="assets/img/user/user9.jpg">
                    </a>
                    <a href="javascript:void(0)" class="fav-btn">
                      <i class="far fa-bookmark"></i>
                    </a>
                  </div>
                  <div class="pro-content">
                    <h3 class="title">
                      <a [routerLink]="'/mentor-profile'">Olga Barlow</a>
                      <i class="fas fa-check-circle verified"></i>
                    </h3>
                    <p class="speciality">Digital Marketer</p>
                    <div class="rating">
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star"></i>
                      <span class="d-inline-block average-rating">(65)</span>
                    </div>
                    <ul class="available-info">
                      <li>
                        <i class="fas fa-map-marker-alt"></i> Montana, USA
                      </li>
                      <li>
                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                      </li>
                      <li>
                        <i class="far fa-money-bill-alt"></i> $75 - $250
                        <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                      </li>
                    </ul>
                    <div class="row row-sm">
                      <div class="col-6">
                        <a [routerLink]="'/mentor-profile'" class="btn view-btn">View Profile</a>
                      </div>
                      <div class="col-6">
                        <a [routerLink]="'/book-now'" class="btn book-btn">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-xl-6">
                <div class="profile-widget">
                  <div class="user-avatar">
                    <a [routerLink]="'/mentor-profile'">
                      <img class="img-fluid" alt="User Image" src="assets/img/user/user10.jpg">
                    </a>
                    <a href="javascript:void(0)" class="fav-btn">
                      <i class="far fa-bookmark"></i>
                    </a>
                  </div>
                  <div class="pro-content">
                    <h3 class="title">
                      <a [routerLink]="'/mentor-profile'">Julia Washington</a>
                      <i class="fas fa-check-circle verified"></i>
                    </h3>
                    <p class="speciality">DM - Endocrinology</p>
                    <div class="rating">
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star"></i>
                      <span class="d-inline-block average-rating">(5)</span>
                    </div>
                    <ul class="available-info">
                      <li>
                        <i class="fas fa-map-marker-alt"></i> Oklahoma, USA
                      </li>
                      <li>
                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                      </li>
                      <li>
                        <i class="far fa-money-bill-alt"></i> $275 - $450
                        <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                      </li>
                    </ul>
                    <div class="row row-sm">
                      <div class="col-6">
                        <a [routerLink]="'/mentor-profile'" class="btn view-btn">View Profile</a>
                      </div>
                      <div class="col-6">
                        <a [routerLink]="'/book-now'" class="btn book-btn">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-xl-6">
                <div class="profile-widget">
                  <div class="user-avatar">
                    <a [routerLink]="'/mentor-profile'">
                      <img class="img-fluid" alt="User Image" src="assets/img/user/user11.jpg">
                    </a>
                    <a href="javascript:void(0)" class="fav-btn">
                      <i class="far fa-bookmark"></i>
                    </a>
                  </div>
                  <div class="pro-content">
                    <h3 class="title">
                      <a [routerLink]="'/mentor-profile'">Shaun Aponte</a>
                      <i class="fas fa-check-circle verified"></i>
                    </h3>
                    <p class="speciality">UNIX,Calculus,Trigonometry</p>
                    <div class="rating">
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star"></i>
                      <span class="d-inline-block average-rating">(5)</span>
                    </div>
                    <ul class="available-info">
                      <li>
                        <i class="fas fa-map-marker-alt"></i> Indiana, USA
                      </li>
                      <li>
                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                      </li>
                      <li>
                        <i class="far fa-money-bill-alt"></i> $150 - $350
                        <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                      </li>
                    </ul>
                    <div class="row row-sm">
                      <div class="col-6">
                        <a [routerLink]="'/mentor-profile'" class="btn view-btn">View Profile</a>
                      </div>
                      <div class="col-6">
                        <a [routerLink]="'/book-now'" class="btn book-btn">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="load-more text-center">
              <a class="btn btn-primary btn-sm" href="javascript:void(0);">Load More</a>
            </div>
          </div>
                <!-- /content-left-->
                <div [className]="mapGrid ? 'col-xl-6 col-lg-12 map-right' : 'col-xl-5 col-lg-12 map-right'">
                    <div id="map" class="map-listing"></div>
                </div>
                <!-- /map-right-->
            </div>
        <!-- /row-->
    </div>
</div>
<!-- /Page Content -->
