<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Blog</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/admin'">Dashboard</a></li>
                        <li class="breadcrumb-item active">Blog</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">

                      <!-- Blog list -->
                      <div class="row">
                          <div class="col-12 col-md-6 col-xl-4" *ngFor="let blog of blogs | slice:0:3">
                              <div class="course-box blog grid-blog">
                                  <div class="blog-image mb-0">
                                      <a [routerLink]="'/admin/blog-details'" [queryParams]="{id: blog.id}"><img class="img-fluid" src="{{blog.img}}" alt="Post Image"></a>
                                  </div>
                                  <div class="course-content">
                                      <span class="date">{{blog.createdAt | date: "d MMM yyyy"}}</span>
                                      <span class="course-title ellipsis">{{blog.title}}</span>
                                      <p>{{blog.short_desc}}</p>
                                      <div class="row">
                                          <div class="col">
                                              <a [routerLink]="'/admin/edit-blog'" class="text-success">
                                                  <i class="far fa-edit"></i> Edit
                                              </a>
                                          </div>
                                          <div class="col text-right">
                                              <a href="javascript:void(0);" class="text-danger">
                                                  <i class="far fa-trash-alt"></i> {{blog.status}}
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- /Blog list -->

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /Page Wrapper -->
