<div class="header min-header">
  <nav class="navbar navbar-expand-lg header-nav">
    <div class="navbar-header">
      <a id="mobile_btn" href="javascript:void(0);">
        <span class="bar-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>
      <a [routerLink]="'/'" class="navbar-brand logo">
        <img src="assets/img/mentor.me-logo.png" alt="logo" />
      </a>
    </div>
    <div class="main-menu-wrapper">
      <div class="menu-header">
        <a [routerLink]="'/'" class="menu-logo">
          <img src="assets/img/mentor.me-logo.png" alt="logo" />
        </a>
        <a id="menu_close" class="menu-close" href="javascript:void(0);">
          <i class="fas fa-times"></i>
        </a>
      </div>
      <ul class="main-nav">
        <!-- <li [class.active]="base === '/'" class="active">
            <a (click)="navigate('Home')" [routerLink]="'/'" >Home</a>
        </li> -->
        <li
          [class.active]="
            base === 'home' || base === 'index' || base === '/' || base === ''
          "
          class="active"
        >
          <a [routerLink]="'/index'">Home</a>
        </li>

        <li [class.active]="base === 'search-mentor'">
          <a [routerLink]="'/search-mentor'">Search Mentor</a>
        </li>

        <li [class.active]="base === 'blog'">
          <a [routerLink]="'/blog'">Blog</a>
        </li>
        <!-- 
        <li
          class="has-submenu"
          [class.active]="base === 'mentor-register'"
          (click)="addStyle('mentor')"
        >
          <a href="javascript:void(0);"
            >Mentor <i class="fas fa-chevron-circle-down"></i
          ></a>
          <ul class="submenu" id="mentor">
            <li><a [routerLink]="'/mentor/dashboard'">Mentor Dashboard</a></li>
            <li><a [routerLink]="'/mentor/my-bookings'">Bookings</a></li>
            <li>
              <a [routerLink]="'/mentor/schedule-timing'">Schedule Timing</a>
            </li>
            <li><a [routerLink]="'/mentor/mentees'">Mentee List</a></li>
            <li><a [routerLink]="'/mentor-profile'">Mentee Profile</a></li>
            <li class="has-submenu">
              <a [routerLink]="'/mentor/blog'">Blog</a>
              <ul class="submenu">
                <li><a>Blog</a></li>
                <li><a>Blog View</a></li>
                <li><a>Add Blog</a></li>
                <li><a>Edit Blog</a></li>
              </ul>
            </li>
            <li><a [routerLink]="'/message'">Chat</a></li>
            <li><a [routerLink]="'/mentor/invoice'">Invoices</a></li>
            <li><a [routerLink]="'/mentor/settings'">Profile Settings</a></li>
            <li><a [routerLink]="'/mentor/reviews'">Reviews</a></li>
            <li><a [routerLink]="'/mentor-register'">Mentor Register</a></li>
          </ul>
        </li>
        <li class="has-submenu" [class.active]="base === 'mentee-register'">
          <a href="javascript:void(0);"
            >Mentee <i class="fas fa-chevron-circle-down"></i
          ></a>
          <ul class="submenu" id="mentee">
            <li class="has-submenu">
              <a href="javascript:void(0);">Mentors</a>
              <ul class="submenu">
                <li><a [routerLink]="'/map-grid'">Map Grid</a></li>
                <li><a [routerLink]="'/map-list'">Map List</a></li>
              </ul>
            </li>
            <li><a [routerLink]="'/search-mentor'">Search Mentor</a></li>
            <li><a [routerLink]="'mentor-profile'">Mentor Profile</a></li>
            <li><a [routerLink]="'mentee/booking'">Bookings</a></li>
            <li><a [routerLink]="'/checkout'">Checkout</a></li>
            <li><a [routerLink]="'/success'">Booking Success</a></li>
            <li><a [routerLink]="'/mentee/dashboard'">Mentee Dashboard</a></li>
            <li><a [routerLink]="'/mentee/favourites'">Favourites</a></li>
            <li><a [routerLink]="'/message'">Chat</a></li>
            <li><a [routerLink]="'/mentee/settings'">Profile Settings</a></li>
            <li><a [routerLink]="'/change-password'">Change Password</a></li>
          </ul>
        </li>
        <li class="has-submenu">
          <a href="javascript:void(0)"
            >Pages <i class="fas fa-chevron-circle-down"></i
          ></a>
          <ul class="submenu" id="pages">
            <li><a [routerLink]="'/voice-call'">Voice Call</a></li>
            <li><a [routerLink]="'/video-call'">Video Call</a></li>
            <li><a [routerLink]="'/search-mentor'">Search Mentors</a></li>
            <li><a [routerLink]="'/component'">Components</a></li>
            <li class="has-submenu">
              <a href="javascript:void(0)">Invoices</a>
              <ul class="submenu">
                <li><a [routerLink]="'/mentor/invoice'">Invoices</a></li>
                <li><a [routerLink]="'/invoice-details'">Invoice View</a></li>
              </ul>
            </li>
            <li><a [routerLink]="'/blank'">Starter Page</a></li>
            <li><a [routerLink]="'/login-page'">Login</a></li>
            <li><a [routerLink]="'/register'">Register</a></li>
            <li><a [routerLink]="'/forgot-password'">Forgot Password</a></li>
          </ul>
        </li>
        <li class="has-submenu">
          <a href="javascript:void(0)"
            >Blog <i class="fas fa-chevron-circle-down"></i
          ></a>
          <ul class="submenu" id="blog">
            <li><a [routerLink]="'blog'">Blog List</a></li>
            <li><a [routerLink]="'blog-grid'">Blog Grid</a></li>
            <li><a [routerLink]="'blog-details'">Blog Details</a></li>
          </ul>
        </li>
        <li>
          <a
            [routerLink]="'/admin/dashboard'"
            class="login-link"
            target="_blank"
            >Admin</a
          >
        </li>
        <li
          *ngIf="
            !(
              _route.url === '/mentor-register' ||
              _route.url === '/mentee-register'
            )
          "
        >
          <a [routerLink]="'login-page'" class="login-link">Login</a>
        </li>
        <li class="login-link login-none">
          <a [routerLink]="'login-page'">Login </a>
        </li>
        <li class="login-link login-none">
          <a [routerLink]="'register'">Register </a>
        </li> -->
      </ul>
    </div>
    <ul class="nav header-navbar-rht">
      <li class="nav-item">
        <a class="nav-link btn-login btn-primary" [routerLink]="'login-page'"
          ><i class="fas fa-sign-in-alt"></i> Sign up</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link btn-login btn-secondary" [routerLink]="'register'"
          ><i class="fas fa-lock"></i> Sign in</a
        >
      </li>
    </ul>
  </nav>
</div>
