 <div class="page-wrapper">
<div class="content container-fluid">

	<!-- Page Header -->
	<div class="page-header">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="page-title">Transactions</h3>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="'/admin'">Dashboard</a></li>
					<li class="breadcrumb-item active">Transactions</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /Page Header -->



	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="datatable table table-hover table-center mb-0">
							<thead>
                <tr>
									<th>Invoice Number</th>
									<th>Mentee ID</th>
									<th>Mentee Name</th>
									<th>Total Amount</th>
									<th class="text-center">Status</th>
									<th class="text-right">Actions</th>
								</tr>
							</thead>
							<tbody>
                <tr *ngFor="let trans of transactionsList">
									<td><a [routerLink]="'/admin/admin-invoice'">{{trans.invoiceNumber}}</a></td>
									<td>#{{trans.patient_id}}</td>
									<td>
										<h2 class="table-avatar">
											<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" [src]="trans.profile" alt="User Image"></a>
											<a [routerLink]="'/admin/mentor-profile'">{{trans.patient_name}}</a>
										</h2>
									</td>
									<td>{{trans.total_amount}}</td>
									<td class="text-center">
										<span class="badge badge-pill bg-success inv-badge">{{trans.status}}</span>
									</td>
									<td class="text-right">
										<div class="actions">
											<a data-toggle="modal" (click)="editModal(edit,trans)"
												class="btn btn-sm bg-success-light mr-2">
												<i class="fe fe-pencil"></i> Edit
											</a>
											<a data-toggle="modal" (click)="deleteModal(delete,trans)"
												class="btn btn-sm bg-danger-light">
												<i class="fe fe-trash"></i> Delete
											</a>
										</div>
									</td>
								</tr>

							</tbody>
						</table>
				</div>
        </div>
			</div>
		</div>
	</div>


	<!-- <div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="datatable table table-hover table-center mb-0">
							<thead>
								<tr>
									<th>Invoice Number</th>
									<th>Mentee ID</th>
									<th>Mentee Name</th>
									<th>Total Amount</th>
									<th class="text-center">Status</th>
									<th class="text-right">Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let trans of transactionsList">
									<td><a [routerLink]="'/admin/admin-invoice'">{{trans.invoiceNumber}}</a></td>
									<td>#{{trans.patient_id}}</td>
									<td>
										<h2 class="table-avatar">
											<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" [src]="trans.profile" alt="User Image"></a>
											<a [routerLink]="'/admin/mentor-profile'">{{trans.patient_name}}</a>
										</h2>
									</td>
									<td>{{trans.total_amount}}</td>
									<td class="text-center">
										<span class="badge badge-pill bg-success inv-badge">{{trans.status}}</span>
									</td>
									<td class="text-right">
										<div class="actions">
											<a data-toggle="modal" (click)="editModal(edit,trans)"
												class="btn btn-sm bg-success-light mr-2">
												<i class="fe fe-pencil"></i> Edit
											</a>
											<a data-toggle="modal" (click)="deleteModal(delete,trans)"
												class="btn btn-sm bg-danger-light">
												<i class="fe fe-trash"></i> Delete
											</a>
										</div>
									</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div> -->
</div>
</div>

<ng-template #delete>
	<div class="modal-body text-center">
		<div class="form-content p-2">
			<h4 class="modal-title">Delete</h4>
			<p class="mb-4">Are you sure want to delete?</p>
			<button type="button" class="btn btn-primary mr-2" (click)="deleteTrans()">Delete </button>
			<button type="button" class="btn btn-danger" (click)="decline()" >Close</button>
		</div>
	</div>
</ng-template>

<ng-template #edit>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Edit Transactions</h4>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form>
			<div class="row form-row">
				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label>Invoice Number</label>
						<input type="text" class="form-control" value="#INV-0001">
					</div>
				</div>
				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label>Mentee ID</label>
						<input type="text" class="form-control" value="	#01">
					</div>
				</div>
				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label>Mentee Name</label>
						<input type="text" class="form-control" value="Jonathan Doe">
					</div>
				</div>
				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label>Mentee Image</label>
						<input type="file"  class="form-control">
					</div>
				</div>
				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label>Total Amount</label>
						<input type="text"  class="form-control" value="$200.00">
					</div>
				</div>
				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label>Created Date</label>
						<input type="text"  class="form-control" value="29th Oct 2019">
					</div>
				</div>

			</div>
			<button type="button" (click)="update()" class="btn btn-primary btn-block" >Save Changes</button>
		</form>
	</div>
</ng-template>
