<!-- Page Content -->
<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

        <!-- Sidebar -->
        <div class="profile-sidebar">
          <div class="user-widget">
            <div class="pro-avatar">JD</div>
            <div class="rating">
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="user-info-cont">
              <h4 class="usr-name">Jonathan Doe</h4>
              <p class="mentor-type">English Literature (M.A)</p>
            </div>
          </div>
          <div class="progress-bar-custom">
            <h6>Complete your profiles ></h6>
            <div class="pro-progress">
              <div class="tooltip-toggle" tabindex="0"></div>
               <div class="tooltip">80%</div>
            </div>
          </div>
          <div class="custom-sidebar-nav">
            <ul>
              <li><a [routerLink]="'/mentor/dashboard'"><i class="fas fa-home"></i>Dashboard <span><i class="fas fa-chevron-right"></i></span></a></li>
              <li><a [routerLink]="'/mentor/my-bookings'"><i class="fas fa-clock"></i>Bookings <span><i class="fas fa-chevron-right"></i></span></a></li>
              <li><a [routerLink]="'/mentor/schedule-timing'"><i class="fas fa-hourglass-start"></i>Schedule Timings <span><i class="fas fa-chevron-right"></i></span></a></li>
              <li><a [routerLink]="'/message'"><i class="fas fa-comments"></i>Messages <span><i class="fas fa-chevron-right"></i></span></a></li>
              <li><a [routerLink]="'/mentor/invoice'"><i class="fas fa-file-invoice"></i>Invoices <span><i class="fas fa-chevron-right"></i></span></a></li>
              <li><a [routerLink]="'/mentor/reviews'"><i class="fas fa-eye"></i>Reviews <span><i class="fas fa-chevron-right"></i></span></a></li>
              <li><a [routerLink]="'/mentor/blog'"><i class="fab fa-blogger-b"></i>Blog <span><i class="fas fa-chevron-right"></i></span></a></li>
              <li><a [routerLink]="'/mentor-profile'"><i class="fas fa-user-cog"></i>Profile <span><i class="fas fa-chevron-right"></i></span></a></li>
              <li><a [routerLink]="'/login-page'"><i class="fas fa-sign-out-alt"></i>Logout <span><i class="fas fa-chevron-right"></i></span></a></li>
            </ul>
          </div>
        </div>
        <!-- /Sidebar -->

      </div>

      <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="appointments">

          <!-- Appointment List -->
          <div class="appointment-list">
            <div class="profile-info-widget">
              <a [routerLink]="'/mentee-profile'" class="booking-user-img">
                <img src="assets/img/user/user2.jpg" alt="User Image">
              </a>
              <div class="profile-det-info">
                <h3><a [routerLink]="'/mentee-profile'">Tyrone Trimble</a></h3>
                <div class="mentee-details">
                  <h5><i class="far fa-clock"></i> 14 Nov 2019, 10.00 AM</h5>
                  <h5><i class="fas fa-map-marker-alt"></i> Newyork, United States</h5>
                  <h5><i class="fas fa-envelope"></i> tyronetrimble@example.com</h5>
                  <h5 class="mb-0"><i class="fas fa-phone"></i> +1 923 782 4575</h5>
                </div>
              </div>
            </div>
            <div class="appointment-action">
              <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                <i class="far fa-eye"></i> View
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                <i class="fas fa-check"></i> Accept
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                <i class="fas fa-times"></i> Cancel
              </a>
            </div>
          </div>
          <!-- /Appointment List -->

          <!-- Appointment List -->
          <div class="appointment-list">
            <div class="profile-info-widget">
              <a [routerLink]="'/mentee-profile'" class="booking-user-img">
                <img src="assets/img/user/user1.jpg" alt="User Image">
              </a>
              <div class="profile-det-info">
                <h3><a [routerLink]="'/mentee-profile'">Charlene Reed</a></h3>
                <div class="mentee-details">
                  <h5><i class="far fa-clock"></i> 12 Nov 2019, 5.00 PM</h5>
                  <h5><i class="fas fa-map-marker-alt"></i> North Carolina, United States</h5>
                  <h5><i class="fas fa-envelope"></i> charlenereed@example.com</h5>
                  <h5 class="mb-0"><i class="fas fa-phone"></i> +1 828 632 9170</h5>
                </div>
              </div>
            </div>
            <div class="appointment-action">
              <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                <i class="far fa-eye"></i> View
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                <i class="fas fa-check"></i> Accept
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                <i class="fas fa-times"></i> Cancel
              </a>
            </div>
          </div>
          <!-- /Appointment List -->

          <!-- Appointment List -->
          <div class="appointment-list">
            <div class="profile-info-widget">
              <a [routerLink]="'/mentee-profile'" class="booking-user-img">
                <img src="assets/img/user/user3.jpg" alt="User Image">
              </a>
              <div class="profile-det-info">
                <h3><a [routerLink]="'/mentee-profile'">Carl Kelly</a></h3>
                <div class="mentee-details">
                  <h5><i class="far fa-clock"></i> 9 Nov 2019, 9.00 AM</h5>
                  <h5><i class="fas fa-map-marker-alt"></i> Newyork, United States</h5>
                  <h5><i class="fas fa-envelope"></i> carlkelly@example.com</h5>
                  <h5 class="mb-0"><i class="fas fa-phone"></i> +1 260 724 7769</h5>
                </div>
              </div>
            </div>
            <div class="appointment-action">
              <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                <i class="far fa-eye"></i> View
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                <i class="fas fa-check"></i> Accept
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                <i class="fas fa-times"></i> Cancel
              </a>
            </div>
          </div>
          <!-- /Appointment List -->

          <!-- Appointment List -->
          <div class="appointment-list">
            <div class="profile-info-widget">
              <a [routerLink]="'/mentee-profile'" class="booking-user-img">
                <img src="assets/img/user/user4.jpg" alt="User Image">
              </a>
              <div class="profile-det-info">
                <h3><a [routerLink]="'/mentee-profile'">Sofia Fairfax</a></h3>
                <div class="mentee-details">
                  <h5><i class="far fa-clock"></i> 9 Nov 2019, 1.00 PM</h5>
                  <h5><i class="fas fa-map-marker-alt"></i> Indiana, United States</h5>
                  <h5><i class="fas fa-envelope"></i> sofiafairfax@example.com</h5>
                  <h5 class="mb-0"><i class="fas fa-phone"></i> +1 504 368 6874</h5>
                </div>
              </div>
            </div>
            <div class="appointment-action">
              <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                <i class="far fa-eye"></i> View
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                <i class="fas fa-check"></i> Accept
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                <i class="fas fa-times"></i> Cancel
              </a>
            </div>
          </div>
          <!-- /Appointment List -->

          <!-- Appointment List -->
          <div class="appointment-list">
            <div class="profile-info-widget">
              <a [routerLink]="'/mentee-profile'" class="booking-user-img">
                <img src="assets/img/user/user5.jpg" alt="User Image">
              </a>
              <div class="profile-det-info">
                <h3><a [routerLink]="'/mentee-profile'">Gina Moore</a></h3>
                <div class="mentee-details">
                  <h5><i class="far fa-clock"></i> 8 Nov 2019, 3.00 PM</h5>
                  <h5><i class="fas fa-map-marker-alt"></i> Florida, United States</h5>
                  <h5><i class="fas fa-envelope"></i> ginamoore@example.com</h5>
                  <h5 class="mb-0"><i class="fas fa-phone"></i> +1 954 820 7887</h5>
                </div>
              </div>
            </div>
            <div class="appointment-action">
              <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                <i class="far fa-eye"></i> View
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                <i class="fas fa-check"></i> Accept
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                <i class="fas fa-times"></i> Cancel
              </a>
            </div>
          </div>
          <!-- /Appointment List -->

          <!-- Appointment List -->
          <div class="appointment-list">
            <div class="profile-info-widget">
              <a [routerLink]="'/mentee-profile'" class="booking-user-img">
                <img src="assets/img/user/user6.jpg" alt="User Image">
              </a>
              <div class="profile-det-info">
                <h3><a [routerLink]="'/mentee-profile'">Elsie Gilley</a></h3>
                <div class="mentee-details">
                  <h5><i class="far fa-clock"></i> 6 Nov 2019, 9.00 AM</h5>
                  <h5><i class="fas fa-map-marker-alt"></i> Kentucky, United States</h5>
                  <h5><i class="fas fa-envelope"></i> elsiegilley@example.com</h5>
                  <h5 class="mb-0"><i class="fas fa-phone"></i> +1 315 384 4562</h5>
                </div>
              </div>
            </div>
            <div class="appointment-action">
              <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                <i class="far fa-eye"></i> View
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                <i class="fas fa-check"></i> Accept
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                <i class="fas fa-times"></i> Cancel
              </a>
            </div>
          </div>
          <!-- /Appointment List -->

          <!-- Appointment List -->
          <div class="appointment-list">
            <div class="profile-info-widget">
              <a [routerLink]="'/mentee-profile'" class="booking-user-img">
                <img src="assets/img/user/user7.jpg" alt="User Image">
              </a>
              <div class="profile-det-info">
                <h3><a [routerLink]="'/mentee-profile'">Jina Garnel</a></h3>
                <div class="mentee-details">
                  <h5><i class="far fa-clock"></i> 5 Nov 2019, 12.00 PM</h5>
                  <h5><i class="fas fa-map-marker-alt"></i> California, United States</h5>
                  <h5><i class="fas fa-envelope"></i> jinagarnel@example.com</h5>
                  <h5 class="mb-0"><i class="fas fa-phone"></i> +1 707 2202 603</h5>
                </div>
              </div>
            </div>
            <div class="appointment-action">
              <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                <i class="far fa-eye"></i> View
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                <i class="fas fa-check"></i> Accept
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                <i class="fas fa-times"></i> Cancel
              </a>
            </div>
          </div>
          <!-- /Appointment List -->

          <!-- Appointment List -->
          <div class="appointment-list">
            <div class="profile-info-widget">
              <a [routerLink]="'/mentee-profile'" class="booking-user-img">
                <img src="assets/img/user/user8.jpg" alt="User Image">
              </a>
              <div class="profile-det-info">
                <h3><a [routerLink]="'/mentee-profile'">Daniel Griffing</a></h3>
                <div class="mentee-details">
                  <h5><i class="far fa-clock"></i> 5 Nov 2019, 7.00 PM</h5>
                  <h5><i class="fas fa-map-marker-alt"></i> New Jersey, United States</h5>
                  <h5><i class="fas fa-envelope"></i> danielgriffing@example.com</h5>
                  <h5 class="mb-0"><i class="fas fa-phone"></i> +1 973 773 9497</h5>
                </div>
              </div>
            </div>
            <div class="appointment-action">
              <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                <i class="far fa-eye"></i> View
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                <i class="fas fa-check"></i> Accept
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                <i class="fas fa-times"></i> Cancel
              </a>
            </div>
          </div>
          <!-- /Appointment List -->

          <!-- Appointment List -->
          <div class="appointment-list">
            <div class="profile-info-widget">
              <a [routerLink]="'/mentee-profile'" class="booking-user-img">
                <img src="assets/img/user/user9.jpg" alt="User Image">
              </a>
              <div class="profile-det-info">
                <h3><a [routerLink]="'/mentee-profile'">Walter Roberson</a></h3>
                <div class="mentee-details">
                  <h5><i class="far fa-clock"></i> 4 Nov 2019, 10.00 AM</h5>
                  <h5><i class="fas fa-map-marker-alt"></i> Florida, United States</h5>
                  <h5><i class="fas fa-envelope"></i> walterroberson@example.com</h5>
                  <h5 class="mb-0"><i class="fas fa-phone"></i> +1 850 358 4445</h5>
                </div>
              </div>
            </div>
            <div class="appointment-action">
              <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                <i class="far fa-eye"></i> View
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                <i class="fas fa-check"></i> Accept
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                <i class="fas fa-times"></i> Cancel
              </a>
            </div>
          </div>
          <!-- /Appointment List -->

          <!-- Appointment List -->
          <div class="appointment-list">
            <div class="profile-info-widget">
              <a [routerLink]="'/mentee-profile'" class="booking-user-img">
                <img src="assets/img/user/user10.jpg" alt="User Image">
              </a>
              <div class="profile-det-info">
                <h3><a [routerLink]="'/mentee-profile'">Robert Rhodes</a></h3>
                <div class="mentee-details">
                  <h5><i class="far fa-clock"></i> 4 Nov 2019, 11.00 AM</h5>
                  <h5><i class="fas fa-map-marker-alt"></i> California, United States</h5>
                  <h5><i class="fas fa-envelope"></i> robertrhodes@example.com</h5>
                  <h5 class="mb-0"><i class="fas fa-phone"></i> +1 858 259 5285</h5>
                </div>
              </div>
            </div>
            <div class="appointment-action">
              <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                <i class="far fa-eye"></i> View
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                <i class="fas fa-check"></i> Accept
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                <i class="fas fa-times"></i> Cancel
              </a>
            </div>
          </div>
          <!-- /Appointment List -->

          <!-- Appointment List -->
          <div class="appointment-list">
            <div class="profile-info-widget">
              <a [routerLink]="'/mentee-profile'" class="booking-user-img">
                <img src="assets/img/user/user11.jpg" alt="User Image">
              </a>
              <div class="profile-det-info">
                <h3><a [routerLink]="'/mentee-profile'">Harry Williams</a></h3>
                <div class="mentee-details">
                  <h5><i class="far fa-clock"></i> 3 Nov 2019, 6.00 PM</h5>
                  <h5><i class="fas fa-map-marker-alt"></i> Colorado, United States</h5>
                  <h5><i class="fas fa-envelope"></i> harrywilliams@example.com</h5>
                  <h5 class="mb-0"><i class="fas fa-phone"></i> +1 303 607 7075</h5>
                </div>
              </div>
            </div>
            <div class="appointment-action">
              <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                <i class="far fa-eye"></i> View
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                <i class="fas fa-check"></i> Accept
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                <i class="fas fa-times"></i> Cancel
              </a>
            </div>
          </div>
          <!-- /Appointment List -->

        </div>
      </div>
    </div>

  </div>

</div>
<!-- /Page Content -->
