.user-tabs .nav-tabs.nav-tabs-bottom > li > a.active, .user-tabs .nav-tabs.nav-tabs-bottom > li > a.active:hover, .user-tabs .nav-tabs.nav-tabs-bottom > li > a.active:focus {
  text-transform: none;
}
.user-tabs .nav-tabs > li > a {
  /* color: #888; */
  text-transform: none;
  font-weight: 100;
}
.user-tabs .nav-tabs > li + li {
  margin-left: initial;
}
/* .user-tabs .nav-tabs > li > a {
  color: #888;
  border-bottom: 1px solid transparent;
} */
.nav-tabs.nav-justified > li > a {
  padding: .5rem 1rem !important;
}
.nav-tabs > li > a {
  color: #888;
}
.nav-tabs.nav-tabs-bottom > li > a.active, .nav-tabs.nav-tabs-bottom > li > a.active:hover, .nav-tabs.nav-tabs-bottom > li > a.active:focus {
  border-bottom-width: 1px;
    border-color: transparent;
    border-bottom-color: #ff7e1e;
    color: #ff7e1e;
    background-color: transparent;
    transition: none 0s ease 0s;
    -moz-transition: none 0s ease 0s;
    -o-transition: none 0s ease 0s;
    -ms-transition: none 0s ease 0s;
    -webkit-transition: none 0s ease 0s;
}
