<div class="page-wrapper" style="min-height: 454px;">
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">List of Mentee</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a [routerLink]="'/admin/dashboard'">Dashboard</a></li>
									<li class="breadcrumb-item"><a href="javascript:(0);">Users</a></li>
									<li class="breadcrumb-item active">Mentee</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-body">
									<div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="datatable table table-hover table-center mb-0">
      								<thead>
      									<tr>
      										<th>Mentee Name</th>
      										<th>Course</th>
      										<th>Member Since</th>
      										<th>Earned</th>
      										<th>Account Status</th>
      									</tr>
      								</thead>
      								<tbody>
      									<tr *ngFor="let mentee of patientsList">
      										<td>
      											<h2 class="table-avatar">
      												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" [src]="mentee.img" alt="User Image"></a>
      												<a [routerLink]="'/admin/mentor-profile'">{{mentee.name}} </a>
      											</h2>
      										</td>
      										<td>{{mentee.course}}</td>
      										<td>{{mentee.since | date : 'dd MMM yyyy'}}<br><small>{{mentee.since | date : 'hh mm a'}}</small></td>
      										<td>${{mentee.earned}}</td>
      										<td>
      											<div class="status-toggle d-flex justify-content-center">
      												<input type="checkbox" id="status_1" class="check" checked>
      												<label for="status_1" class="checktoggle">checkbox</label>
      											</div>
      										</td>
      									</tr>

      								</tbody>
      							</table>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
