<div class="page-wrapper">
 <div class="content container-fluid">
   <!-- Page Header -->
   <div class="page-header">
     <div class="row">
       <div class="col-sm-12">
         <h3 class="page-title">List of Mentor</h3>
         <ul class="breadcrumb">
           <li class="breadcrumb-item"><a [routerLink]="'/admin'">Dashboard</a></li>
           <li class="breadcrumb-item"><a href="javascript:(0);">Users</a></li>
           <li class="breadcrumb-item active">Mentor</li>
         </ul>
       </div>
     </div>
   </div>
   <!-- /Page Header -->

   <div class="row">
     <div class="col-sm-12">
       <div class="card">
         <div class="card-body">
           <div class="table-responsive" *ngIf="mentorsList">
             <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="datatable table table-hover table-center mb-0">
               <thead>
                 <tr>
                   <th>Mentor Name</th>
                   <th>Course</th>
                   <th>Member Since</th>
                   <th>Earned</th>
                   <th>Account Status</th>

                 </tr>
               </thead>
               <tbody>
                 <tr *ngFor="let mentor of mentorsList">
                   <td>
                     <h2 class="table-avatar">
                       <a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" [src]="mentor.profile" alt="User Image"></a>
                       <a [routerLink]="'/admin/mentor-profile'">{{mentor.doctor_name}}</a>
                     </h2>
                   </td>
                   <td>{{mentor.speciality}}</td>
                   <td>{{mentor.since | date : 'dd MMM yyyy'}}<br><small>{{mentor.since | date : 'hh mm a'}}</small></td>

                   <td>${{mentor.Earned}}</td>

                   <td>
                     <div class="status-toggle d-flex justify-content-center">
                       <input type="checkbox" id="status_1" class="check" checked>
                       <label for="status_1" class="checktoggle">checkbox</label>
                     </div>
                   </td>
                 </tr>

               </tbody>
             </table>
           </div>
         </div>
       </div>
     </div>
   </div>

 </div>
</div>
