<div class="row row-grid">
    <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let mentee of mentees" [hidden]="mentees.length === 0">
        <div class="card widget-profile user-widget-profile">
            <div class="card-body">
                <div class="pro-widget-content">
                    <div class="profile-info-widget">
                        <a [routerLink]="'/mentee-profile'" class="booking-user-img">
                            <img [src]="mentee.img" alt="User Image">
                        </a>
                        <div class="profile-det-info">
                            <h3><a [routerLink]="'/mentee-profile'">{{mentee.name}}</a></h3>

                            <div class="mentee-details">
                                <h5><b>Mentee ID :</b> {{mentee.key}}</h5>
                                <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{mentee.address}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mentee-info">
                    <ul>
                        <li>Phone <span>+{{mentee.phone}}</span></li>
                        <li>Age <span>{{mentee.age}} Years, {{mentee.type}}</span></li>
                        <li>Blood Group <span>{{mentee.bloodgroup}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog-pagination mt-4" *ngIf="loadPagination">
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1"><i class="fas fa-angle-double-left"></i></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)">1</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)"><i class="fas fa-angle-double-right"></i></a>
            </li>
        </ul>
    </nav>
</div>
