<!------ Header2 codes ----->

<!-- Header -->
<header class="header">
  <nav class="navbar navbar-expand-lg header-nav">
    <div class="navbar-header">
      <a id="mobile_btn" href="javascript:void(0);">
        <span class="bar-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>
      <a [routerLink]="'/'" class="navbar-brand logo">
        <img src="assets/img/mentor.me-logo.png" alt="logo" />
      </a>
    </div>
    <div class="main-menu-wrapper">
      <div class="menu-header">
        <a [routerLink]="'/'" class="menu-logo">
          <img src="assets/img/mentor.me-logo.png" alt="logo" />
        </a>
        <a id="menu_close" class="menu-close" href="javascript:void(0);">
          <i class="fas fa-times"></i>
        </a>
      </div>
      <ul class="main-nav">
        <!-- <li [class.active]="base === '/'" class="active">
            <a (click)="navigate('Home')" [routerLink]="'/'" >Home</a>
        </li> -->
        <li
          [class.active]="
            base === 'home' || base === 'index' || base === '/' || base === ''
          "
          class="active"
        >
          <a [routerLink]="'/index'">Home</a>
        </li>

        <li [class.active]="base === 'search-mentor'">
          <a [routerLink]="'/search-mentor'">Search Mentor</a>
        </li>

        <li [class.active]="base === 'blog'">
          <a [routerLink]="'/blog'">Blog</a>
        </li>
        <!-- 
        <li
          class="has-submenu"
          [class.active]="
            base === 'mentor' ||
            (base === 'mentee' && page === 'mentee-profile') ||
            base === 'mentee-profile' ||
            base === 'message'
          "
          (click)="addStyle('mentor')"
        >
          <a href="javascript:void(0);"
            >Mentor <i class="fas fa-chevron-circle-down"></i
          ></a>
          <ul class="submenu" id="mentor">
            <li [class.active]="page === 'dashboard'">
              <a [routerLink]="'/mentor/dashboard'">Mentor Dashboard</a>
            </li>
            <li [class.active]="page === 'my-bookings'">
              <a [routerLink]="'/mentor/my-bookings'">Bookings</a>
            </li>
            <li [class.active]="page === 'schedule-timing'">
              <a [routerLink]="'/mentor/schedule-timing'">Schedule Timing</a>
            </li>
            <li [class.active]="page === 'mentees'">
              <a [routerLink]="'/mentor/mentees'">Mentee List</a>
            </li>
            <li [class.active]="base === 'mentee-profile'">
              <a [routerLink]="'/mentee-profile'">Mentee Profile</a>
            </li>
            <li class="has-submenu">
              <a href="javascript:void(0);">Blog</a>
              <ul class="submenu">
                <li [class.active]="page === 'blog'">
                  <a [routerLink]="'/mentor/blog'">Blog</a>
                </li>
                <li [class.active]="base === 'blog-details'">
                  <a [routerLink]="'/blog-details'">Blog View</a>
                </li>
                <li [class.active]="page === 'add-blog'">
                  <a [routerLink]="'/mentor/add-blog'">Add Blog</a>
                </li>
                <li [class.active]="page === 'edit-blog'">
                  <a [routerLink]="'/mentor/edit-blog'">Edit Blog</a>
                </li>
              </ul>
            </li>
            <li [class.active]="base === 'message'">
              <a [routerLink]="'/message'">Chat</a>
            </li>
            <li [class.active]="page === 'invoice'">
              <a [routerLink]="'/mentor/invoice'">Invoices</a>
            </li>
            <li [class.active]="page === 'settings'">
              <a [routerLink]="'/mentor/settings'">Profile Settings</a>
            </li>
            <li [class.active]="page === 'reviews'">
              <a [routerLink]="'/mentor/reviews'">Reviews</a>
            </li>
            <li [class.active]="base === 'mentor-register'">
              <a [routerLink]="'/mentor-register'">Mentor Register</a>
            </li>
          </ul>
        </li>
        <li
          class="has-submenu"
          [class.active]="
            base === 'mentee' ||
            base === 'search-mentor' ||
            base === 'mentor-profile' ||
            base === 'checkout' ||
            base === 'success' ||
            base === 'mentee-chat' ||
            base === 'change-password'
          "
          (click)="addStyle('mentee')"
        >
          <a href="javascript:void(0);"
            >Mentee <i class="fas fa-chevron-circle-down"></i
          ></a>
          <ul class="submenu" id="mentee">
            <li class="has-submenu">
              <a href="javascript:void(0);">Mentors</a>
              <ul class="submenu">
                <li [class.active]="base === 'map-grid'">
                  <a [routerLink]="'/map-grid'">Map Grid</a>
                </li>
                <li [class.active]="base === 'map-list'">
                  <a [routerLink]="'/map-list'">Map List</a>
                </li>
              </ul>
            </li>
            <li [class.active]="base === 'search-mentor'">
              <a [routerLink]="'/search-mentor'">Search Mentor</a>
            </li>
            <li [class.active]="base === 'mentor-profile'">
              <a [routerLink]="'mentor-profile'">Mentor Profile</a>
            </li>
            <li [class.active]="page === 'booking'">
              <a [routerLink]="'mentee/booking'">Bookings</a>
            </li>
            <li [class.active]="base === 'checkout'">
              <a [routerLink]="'/checkout'">Checkout</a>
            </li>
            <li [class.active]="base === 'success'">
              <a [routerLink]="'/success'">Booking Success</a>
            </li>
            <li [class.active]="page === 'dashboard'">
              <a [routerLink]="'/mentee/dashboard'">Mentee Dashboard</a>
            </li>
            <li [class.active]="page === 'favourites'">
              <a [routerLink]="'/mentee/favourites'">Favourites</a>
            </li>
            <li [class.active]="base === 'mentee-chat'">
              <a [routerLink]="'/mentee-chat'">Chat</a>
            </li>
            <li [class.active]="page === 'settings'">
              <a [routerLink]="'/mentee/settings'">Profile Settings</a>
            </li>
            <li [class.active]="base === 'change-password'">
              <a [routerLink]="'/change-password'">Change Password</a>
            </li>
          </ul>
        </li>
        <li
          class="has-submenu"
          [class.active]="
            base === 'voice-call' ||
            base === 'video-call' ||
            base === 'component' ||
            base === 'login' ||
            base === 'register' ||
            base === 'forgot-password' ||
            base === 'blank' ||
            base === 'invoice-details'
          "
          (click)="addStyle('pages')"
        >
          <a href="javascript:void(0)"
            >Pages <i class="fas fa-chevron-circle-down"></i
          ></a>
          <ul class="submenu" id="pages">
            <li [class.active]="base === 'voice-call'">
              <a [routerLink]="'/voice-call'">Voice Call</a>
            </li>
            <li [class.active]="base === 'video-call'">
              <a [routerLink]="'/video-call'">Video Call</a>
            </li>
            <li [class.active]="base === 'search-mentor'">
              <a [routerLink]="'/search-mentor'">Search Mentors</a>
            </li>
            <li [class.active]="base === 'component'">
              <a [routerLink]="'/component'">Components</a>
            </li>
            <li class="has-submenu">
              <a href="javascript:void(0)">Invoices</a>
              <ul class="submenu">
                <li [class.active]="base === 'invoice'">
                  <a [routerLink]="'/mentor/invoice'">Invoices</a>
                </li>
                <li [class.active]="base === 'invoice-details'">
                  <a [routerLink]="'/invoice-details'">Invoice View</a>
                </li>
              </ul>
            </li>
            <li [class.active]="base === 'blank'">
              <a [routerLink]="'/blank'">Starter Page</a>
            </li>
            <li [class.active]="base === 'login-page'">
              <a [routerLink]="'/login-page'">Login</a>
            </li>
            <li [class.active]="base === 'register'">
              <a [routerLink]="'/register'">Register</a>
            </li>
            <li [class.active]="base === 'forgot-password'">
              <a [routerLink]="'/forgot-password'">Forgot Password</a>
            </li>
          </ul>
        </li>
        <li
          class="has-submenu"
          [class.active]="
            base === 'blog' || base === 'blog-details' || base === 'blog-grid'
          "
          (click)="addStyle('blog')"
        >
          <a href="javascript:void(0)"
            >Blog <i class="fas fa-chevron-circle-down"></i
          ></a>
          <ul class="submenu" id="blog">
            <li [class.active]="base === 'blog'">
              <a [routerLink]="'/blog'">Blog List</a>
            </li>
            <li [class.active]="base === 'blog-grid'">
              <a [routerLink]="'/blog-grid'">Blog Grid</a>
            </li>
            <li [class.active]="base === 'blog-details'">
              <a [routerLink]="'/blog-details'">Blog Details</a>
            </li>
          </ul>
        </li>
        <li *ngIf="_route.url != '/mentor/my-bookings'">
          <a
            [routerLink]="'/admin/dashboard'"
            class="login-link"
            target="_blank"
            >Admin</a
          >
        </li> -->
      </ul>
    </div>
    <ul class="nav header-navbar-rht">
      <!-- User Menu -->
      <li class="nav-item dropdown has-arrow logged-item">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
          <span class="user-img">
            <img
              class="rounded-circle"
              src="assets/img/user/user.jpg"
              width="31"
              alt="Darren Elder"
            />
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="user-header">
            <div class="avatar avatar-sm">
              <img
                src="assets/img/user/user.jpg"
                alt="User Image"
                class="avatar-img rounded-circle"
              />
            </div>
            <div class="user-text">
              <h6>Jonathan Doe</h6>
              <p class="text-muted mb-0">Mentor</p>
            </div>
          </div>
          <a class="dropdown-item" [routerLink]="'mentor/dashboard'"
            >Dashboard</a
          >
          <a class="dropdown-item" [routerLink]="'mentor-profile'"
            >Profile Settings</a
          >
          <a class="dropdown-item" [routerLink]="'login-page'">Logout</a>
        </div>
      </li>
      <!-- /User Menu -->
    </ul>
  </nav>
</header>
<!-- /Header -->
