/*.dropdown-menu.dropdown-menu-right.show {
    right: 0;
    left: auto;
}*/
/*.main-nav > li.active > a {
    color: #09dca4 !important;
}
.main-nav > li > a {
    color: #2E3842 !important;
}*/

a:not([href]):not([class]) {
  color: #544d85;
  text-decoration: none;
}

.logo > img {
  height: 3rem;
}
