<!-- Sidebar -->
<div class="profile-sidebar">
	<div class="user-widget">
		<div class="pro-avatar">JD</div>
		<div class="rating">
			<i class="fas fa-star filled"></i>
			<i class="fas fa-star filled"></i>
			<i class="fas fa-star filled"></i>
			<i class="fas fa-star filled"></i>
			<i class="fas fa-star"></i>
		</div>
		<div class="user-info-cont">
			<h4 class="usr-name">Jonathan Doe</h4>
			<p class="mentor-type">English Literature (M.A)</p>
		</div>
	</div>
	<div class="progress-bar-custom">
		<h6>Complete your profiles ></h6>
		<div class="pro-progress">
			<div class="tooltip-toggle" tabindex="0"></div>
			<div class="tooltip">80%</div>
		</div>
	</div>
	<div class="custom-sidebar-nav">
		<ul>
			<li><a [className]="(base === 'mentee' && page === 'dashboard') ? 'active' : ''" [routerLink]="'dashboard'"><i class="fas fa-home"></i>Dashboard <span><i class="fas fa-chevron-right"></i></span></a></li>
			<li><a [className]="(base === 'mentee' && page === 'booking') ? 'active' : ''" [routerLink]="'booking'"><i class="fas fa-clock"></i>Bookings <span><i class="fas fa-chevron-right"></i></span></a></li>
			<li><a [className]="(base === 'mentee-chat') ? 'active' : ''" [routerLink]="'/mentee-chat'"><i class="fas fa-comments"></i>Messages <span><i class="fas fa-chevron-right"></i></span></a></li>
			<li><a [className]="(base === 'mentee' && page === 'favourites') ? 'active' : ''" [routerLink]="'favourites'"><i class="fas fa-star"></i>Favourites <span><i class="fas fa-chevron-right"></i></span></a></li>
			<li><a [className]="(base === 'mentee' && page === 'settings') ? 'active' : ''" [routerLink]="'settings'"><i class="fas fa-user-cog"></i>Profile<span><i class="fas fa-chevron-right"></i></span></a></li>
			<li><a (click)="logout()" style="cursor: pointer;"><i class="fas fa-sign-out-alt"></i>Logout <span><i class="fas fa-chevron-right"></i></span></a></li>
		</ul>
	</div>
</div>
<!-- /Sidebar -->
