<!-- Page Content -->
<div class="row">
   <div class="col-md-12 col-lg-4 dash-board-list blue">
      <div class="dash-widget">
         <div class="circle-bar">
            <div class="icon-col">
               <i class="fas fa-users"></i>
            </div>
         </div>
         <div class="dash-widget-info">
            <h3>23</h3>
            <h6>Members</h6>
         </div>
      </div>
   </div>
   <div class="col-md-12 col-lg-4 dash-board-list yellow">
      <div class="dash-widget">
         <div class="circle-bar">
            <div class="icon-col">
               <i class="fas fa-calendar-check"></i>
            </div>
         </div>
         <div class="dash-widget-info">
            <h3>33</h3>
            <h6>Appointments</h6>
         </div>
      </div>
   </div>
   <div class="col-md-12 col-lg-4 dash-board-list pink">
      <div class="dash-widget">
         <div class="circle-bar">
            <div class="icon-col">
               <i class="fas fa-wallet"></i>
            </div>
         </div>
         <div class="dash-widget-info">
            <h3>$14</h3>
            <h6>Total Earned</h6>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-12">
      <h4 class="mb-4">Mentee Lists</h4>
      <!-- Mentee List -->
      <div class="card card-table">
         <div class="card-body">
            <div class="table-responsive">
               <table class="table table-hover table-center mb-0">
                  <thead>
                     <tr>
                        <th>BASIC INFO</th>
                        <th>CREATED DATE</th>
                        <th class="text-center">TAGS</th>
                        <th class="text-center">ACTION</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>
                           <h2 class="table-avatar">
                              <a [routerLink]="'/mentor-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/user/user2.jpg" alt="User Image"></a>
                              <a [routerLink]="'/mentor-profile'">Tyrone Roberts<span>tyroneroberts@adobe.com</span></a>
                           </h2>
                        </td>
                        <td>08 April 2020</td>
                        <td class="text-center"><span class="pending">PENDING</span></td>
                        <td class="text-center"><a [routerLink]="'/mentor-profile'" class="btn btn-sm bg-info-light"><i class="far fa-eye"></i> View</a></td>
                     </tr>
                     <tr>
                        <td>
                           <h2 class="table-avatar">
                              <a [routerLink]="'/mentor-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/user/user1.jpg" alt="User Image"></a>
                              <a [routerLink]="'/mentor-profile'">Julie Pennington <span>julie@adobe.com</span></a>
                           </h2>
                        </td>
                        <td>08 April 2020</td>
                        <td class="text-center"><span class="pending">PENDING</span></td>
                        <td class="text-center"><a [routerLink]="'/mentor-profile'" class="btn btn-sm bg-info-light"><i class="far fa-eye"></i> View</a></td>
                     </tr>
                     <tr>
                        <td>
                           <h2 class="table-avatar">
                              <a [routerLink]="'/mentor-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/user/user3.jpg" alt="User Image"></a>
                              <a [routerLink]="'/mentor-profile'">Allen Davis <span>allendavis@adobe.com</span></a>
                           </h2>
                        </td>
                        <td>08 April 2020</td>
                        <td class="text-center"><span class="pending">PENDING</span></td>
                        <td class="text-center"><a [routerLink]="'/mentor-profile'" class="btn btn-sm bg-info-light"><i class="far fa-eye"></i> View</a></td>
                     </tr>
                     <tr>
                        <td>
                           <h2 class="table-avatar">
                              <a [routerLink]="'/mentor-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/user/user4.jpg" alt="User Image"></a>
                              <a [routerLink]="'/mentor-profile'">Patricia Manzi <span>patriciamanzi@adobe.com</span></a>
                           </h2>
                        </td>
                        <td>08 April 2020</td>
                        <td class="text-center"><span class="accept">ACCEPTED</span></td>
                        <td class="text-center"><a [routerLink]="'/mentor-profile'" class="btn btn-sm bg-info-light"><i class="far fa-eye"></i> View</a></td>
                     </tr>
                     <tr>
                        <td>
                           <h2 class="table-avatar">
                              <a [routerLink]="'/mentor-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/user/user5.jpg" alt="User Image"></a>
                              <a [routerLink]="'/mentor-profile'">Olive Lawrence <span>olivelawrence@adobe.com</span></a>
                           </h2>
                        </td>
                        <td>08 April 2020</td>
                        <td class="text-center"><span class="accept">ACCEPTED</span></td>
                        <td class="text-center"><a [routerLink]="'/mentor-profile'" class="btn btn-sm bg-info-light"><i class="far fa-eye"></i> View</a></td>
                     </tr>
                     <tr>
                        <td>
                           <h2 class="table-avatar">
                              <a [routerLink]="'/mentor-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/user/user6.jpg" alt="User Image"></a>
                              <a [routerLink]="'/mentor-profile'">Frances Foster <span>frances@adobe.com</span></a>
                           </h2>
                        </td>
                        <td>08 April 2020</td>
                        <td class="text-center"><span class="accept">ACCEPTED</span></td>
                        <td class="text-center"><a [routerLink]="'/mentor-profile'" class="btn btn-sm bg-info-light"><i class="far fa-eye"></i> View</a></td>
                     </tr>
                     <tr>
                        <td>
                           <h2 class="table-avatar">
                              <a [routerLink]="'/mentor-profile'" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/user/user7.jpg" alt="User Image"></a>
                              <a [routerLink]="'/mentor-profile'">Deloris Briscoe <span>delorisbriscoe@adobe.com</span></a>
                           </h2>
                        </td>
                        <td>08 April 2020</td>
                        <td class="text-center"><span class="reject">REJECTED</span></td>
                        <td class="text-center"><a [routerLink]="'/mentor-profile'" class="btn btn-sm bg-info-light"><i class="far fa-eye"></i> View</a></td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      <!-- /Mentee List -->
   </div>
</div>
<!-- /Page Content -->
