<!-- Header -->
<div class="header">
   <!-- Logo -->
   <div class="header-left">
      <a [routerLink]="'/admin/dashboard'" class="logo">
      <img src="assets/admin/img/logo.png" alt="Logo">
      </a>
      <a [routerLink]="'/admin/dashboard'" class="logo logo-small">
      <img src="assets/admin/img/logo-small.png" alt="Logo" width="30" height="30">
      </a>
   </div>
   <!-- /Logo -->

   <!-- Sidebar Toggle -->
   <a href="javascript:void(0);" id="toggle_btn">
   <i class="fe fe-text-align-left"></i>
   </a>
   <!-- /Sidebar Toggle -->
   <div class="top-nav-search">
      <form>
         <input type="text" class="form-control" placeholder="Search here">
         <button class="btn" type="submit"><i class="fa fa-search"></i></button>
      </form>
   </div>
   <!-- Mobile Menu Toggle -->
   <a class="mobile_btn" id="mobile_btn">
   <i class="fa fa-bars"></i>
   </a>
   <!-- /Mobile Menu Toggle -->
   <!-- Header Right Menu -->
   <ul class="nav user-menu">
      <!-- Notifications -->
      <li class="nav-item dropdown noti-dropdown">
         <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
         <i class="fe fe-bell"></i> <span class="badge badge-pill">3</span>
         </a>
         <div class="dropdown-menu notifications">
            <div class="topnav-dropdown-header">
               <span class="notification-title">Notifications</span>
               <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
            </div>
            <div class="noti-content">
               <ul class="notification-list">
                  <li class="notification-message">
                     <a href="#">
                        <div class="media">
                           <span class="avatar avatar-sm">
                           <img class="avatar-img rounded-circle" alt="User Image" src="assets/admin/img/user/user.jpg">
                           </span>
                           <div class="media-body">
                              <p class="noti-details"><span class="noti-title">Jonathan Doe</span> Schedule <span class="noti-title">his appointment</span></p>
                              <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                           </div>
                        </div>
                     </a>
                  </li>
                  <li class="notification-message">
                     <a href="#">
                        <div class="media">
                           <span class="avatar avatar-sm">
                           <img class="avatar-img rounded-circle" alt="User Image" src="assets/admin/img/user/user1.jpg">
                           </span>
                           <div class="media-body">
                              <p class="noti-details"><span class="noti-title">Julie Pennington</span> has booked her appointment to <span class="noti-title">Ruby Perrin</span></p>
                              <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                           </div>
                        </div>
                     </a>
                  </li>
                  <li class="notification-message">
                     <a href="#">
                        <div class="media">
                           <span class="avatar avatar-sm">
                           <img class="avatar-img rounded-circle" alt="User Image" src="assets/admin/img/user/user2.jpg">
                           </span>
                           <div class="media-body">
                              <p class="noti-details"><span class="noti-title">Tyrone Roberts</span> sent a amount of $210 for his <span class="noti-title">appointment</span></p>
                              <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                           </div>
                        </div>
                     </a>
                  </li>
                  <li class="notification-message">
                     <a href="#">
                        <div class="media">
                           <span class="avatar avatar-sm">
                           <img class="avatar-img rounded-circle" alt="User Image" src="assets/admin/img/user/user4.jpg">
                           </span>
                           <div class="media-body">
                              <p class="noti-details"><span class="noti-title">Patricia Manzi</span> send a message <span class="noti-title"> to his Mentee</span></p>
                              <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                           </div>
                        </div>
                     </a>
                  </li>
               </ul>
            </div>
            <div class="topnav-dropdown-footer">
               <a href="#">View all Notifications</a>
            </div>
         </div>
      </li>
      <!-- /Notifications -->
      <!-- User Menu -->
      <li class="nav-item dropdown has-arrow">
         <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
         <span class="user-img"><img class="rounded-circle" src="assets/admin/img/profiles/avatar-12.jpg" width="31" alt="Ryan Taylor"></span>
         </a>
         <div class="dropdown-menu">
            <div class="user-header">
               <div class="avatar avatar-sm">
                  <img src="assets/admin/img/profiles/avatar-12.jpg" alt="User Image" class="avatar-img rounded-circle">
               </div>
               <div class="user-text">
                  <h6>Allen Davis</h6>
                  <p class="text-muted mb-0">Administrator</p>
               </div>
            </div>
            <a class="dropdown-item" [routerLink]="'/admin/mentor-profile'">My Profile</a>
            <a class="dropdown-item" [routerLink]="'/admin/settings'">Settings</a>
            <a class="dropdown-item" [routerLink]="'/admin/login-form'">Logout</a>
         </div>
      </li>
      <!-- /User Menu -->
   </ul>
   <!-- /Header Right Menu -->
</div>
<!-- /Header -->
<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
      <perfect-scrollbar [scrollIndicators]="false">


<div id="sidebar-menu" class="sidebar-menu">
         <ul>
            <li class="menu-title">
               <span>Main</span>
            </li>
            <li [class.active]="page === 'dashboard'" >
               <a (click)="change('dashboard')" [routerLink]="'/admin/dashboard'"><i data-feather="home"></i> <span>Dashboard</span></a>
            </li>
            <li [class.active]="page === 'mentor'">
               <a (click)="change('mentor')" [routerLink]="'/admin/mentor'"><i data-feather="user"></i> <span>Mentor</span></a>
            </li>
            <li [class.active]="page === 'mentee'">
               <a (click)="change('mentee')" [routerLink]="'/admin/mentee'"><i data-feather="users"></i> <span>Mentee</span></a>
            </li>
            <li [class.active]="page === 'bookings'">
               <a (click)="change('bookings')" [routerLink]="'/admin/bookings'"><i data-feather="file-text"></i> <span>Booking List</span></a>
            </li>
            <li [class.active]="page === 'categories'">
               <a (click)="change('categories')" [routerLink]="'/admin/categories/view'"><i data-feather="package"></i>  <span>Categories</span></a>
            </li>
            <li [class.active]="page === 'transactions'">
               <a (click)="change('transactions')" [routerLink]="'/admin/transactions'"><i data-feather="credit-card"></i>  <span>Transactions</span></a>
            </li>
            <li [class.active]="page === 'settings'">
               <a (click)="change('settings')" [routerLink]="'/admin/settings'"><i data-feather="settings"></i>  <span>Settings</span></a>
            </li>
            <li class="submenu">
               <a href="javascript:void(0)"><i data-feather="clipboard"></i>  <span> Reports</span> <span class="menu-arrow"></span></a>
               <ul style="display: none;">
                  <li [class.active]="page === 'invoice-reports'"><a [routerLink]="'/admin/invoice-reports'">Invoice Reports</a></li>
               </ul>
            </li>
            <li class="menu-title">
               <span>Pages</span>
            </li>
            <li [class.active]="page === 'mentor-profile'">
               <a [routerLink]="'/admin/mentor-profile'"><i data-feather="user-plus"></i> <span>My Profile</span></a>
            </li>
            <li class="submenu">
               <a href="javascript:void(0)"><i data-feather="book-open"></i> <span>Blog</span> <span class="menu-arrow"></span></a>
               <ul style="display: none;">
                  <li [class.active]="page === 'blog'"><a [routerLink]="'/admin/blog'"> Blog </a></li>
                  <li [class.active]="page === 'blog-details'"><a [routerLink]="'/admin/blog-details'"> Blog Details </a></li>
                  <li [class.active]="page === 'add-blog'"><a [routerLink]="'/admin/add-blog'"> Add Blog </a></li>
                  <li [class.active]="page === 'edit-blog'"><a [routerLink]="'/admin/edit-blog'"> Edit Blog </a></li>
               </ul>
            </li>
            <li class="submenu">
               <a href="javascript:void(0)"><i data-feather="lock"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
               <ul style="display: none;">
                  <li [class.active]="page === 'login-form'"><a [routerLink]="'/admin/login-form'"> Login </a></li>
                  <li [class.active]="page === 'register'"><a [routerLink]="'/admin/register'"> Register </a></li>
                  <li [class.active]="page === 'forgot-passg'"><a [routerLink]="'/admin/forgot-pass'"> Forgot Password </a></li>
                  <li [class.active]="page === 'lock-screen'"><a [routerLink]="'/admin/lock-screen'"> Lock Screen </a></li>
               </ul>
            </li>
            <li class="submenu">
               <a href="javascript:void(0)"><i data-feather="alert-octagon"></i> <span> Error Pages </span> <span class="menu-arrow"></span></a>
               <ul style="display: none;">
                  <li [class.active]="page === 'error-first'"><a [routerLink]="'/admin/error-first'">404 Error </a></li>
                  <li [class.active]="page === 'error-second'"><a [routerLink]="'/admin/error-second'">500 Error </a></li>
               </ul>
            </li>
            <li [class.active]="page === 'blank'">
               <a [routerLink]="'/admin/blank-page'"><i data-feather="file"></i> <span>Blank Page</span></a>
            </li>
            <li class="menu-title">
               <span>UI Interface</span>
            </li>
            <li [class.active]="page === 'components'">
               <a [routerLink]="'/admin/components'"><i data-feather="layers"></i> <span>Components</span></a>
            </li>
            <li class="submenu">
               <a href="javascript:void(0)"><i data-feather="columns"></i> <span> Forms </span> <span class="menu-arrow"></span></a>
               <ul style="display: none;">
                  <li [class.active]="page === 'basic-input'"><a [routerLink]="'/admin/basic-input'">Basic Inputs </a></li>
                  <li [class.active]="page === 'input-groups'"><a [routerLink]="'/admin/input-groups'">Input Groups </a></li>
                  <li [class.active]="page === 'horizondal-form'"><a [routerLink]="'/admin/horizondal-form'">Horizontal Form </a></li>
                  <li [class.active]="page === 'vertical-form'"><a [routerLink]="'/admin/vertical-form'"> Vertical Form </a></li>
                  <li [class.active]="page === 'form-mask'"><a [routerLink]="'/admin/form-mask'"> Form Mask </a></li>
                  <li [class.active]="page === 'form-validation'"><a [routerLink]="'/admin/form-validation'"> Form Validation </a></li>
               </ul>
            </li>
            <li class="submenu">
               <a href="javascript:void(0)"><i data-feather="layout"></i> <span> Tables </span> <span class="menu-arrow"></span></a>
               <ul style="display: none;">
                  <li><a [class.active]="page === 'basic-tables'" [routerLink]="'/admin/basic-tables'">Basic Tables </a></li>
                  <li><a [class.active]="page === 'admin-data-table'" [routerLink]="'/admin/admin-data-table'">Data Table </a></li>
               </ul>
            </li>
            <li class="submenu">
               <a href="javascript:void(0);"><span>Multi Level</span> <span class="menu-arrow"></span></a>
               <ul style="display: none;">
                  <li class="submenu">
                     <a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
                     <ul style="display: none;">
                        <li><a href="javascript:void(0);"><span>Level 2</span></a></li>
                        <li class="submenu">
                           <a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
                           <ul style="display: none;">
                              <li><a href="javascript:void(0);">Level 3</a></li>
                              <li><a href="javascript:void(0);">Level 3</a></li>
                           </ul>
                        </li>
                        <li><a href="javascript:void(0);"> <span>Level 2</span></a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="javascript:void(0);"> <span>Level 1</span></a>
                  </li>
               </ul>
            </li>
         </ul>
      </div>
      </perfect-scrollbar>
   </div>
   </div>

<!-- /Sidebar -->
