<div class="footer">
  <!-- Footer Top -->
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget footer-about">
            <div class="footer-logo">
              <img src="assets/img/mentor.me-logo.png" alt="logo" />
            </div>
            <div class="footer-about-content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
          <!-- /Footer Widget -->
        </div>

        <div class="col-lg-3 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">For Mentee</h2>
            <ul>
              <li><a [routerLink]="'/search-mentor'">Search Mentors</a></li>
              <li><a [routerLink]="'/login-page'">Login</a></li>
              <li><a [routerLink]="'/register'">Register</a></li>
              <li><a [routerLink]="'/book-now'">Booking</a></li>
              <li>
                <a [routerLink]="'/mentee/dashboard'">Mentee Dashboard</a>
              </li>
            </ul>
          </div>
          <!-- /Footer Widget -->
        </div>

        <div class="col-lg-3 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">For Mentors</h2>
            <ul>
              <li><a [routerLink]="'/appointments'">Appointments</a></li>
              <li><a [routerLink]="'/message'">Chat</a></li>
              <li><a [routerLink]="'/login-page'">Login</a></li>
              <li><a [routerLink]="'/register'">Register</a></li>
              <li>
                <a [routerLink]="'/mentor/dashboard'">Mentor Dashboard</a>
              </li>
            </ul>
          </div>
          <!-- /Footer Widget -->
        </div>

        <div class="col-lg-3 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget footer-contact">
            <h2 class="footer-title">Contact Us</h2>
            <div class="footer-contact-info">
              <div class="footer-address">
                <p>Tashkent, Uzbekistan</p>
              </div>
              <p>+998 90 123 45 67</p>
              <p class="mb-0">support@mentor.me</p>
            </div>
          </div>
          <!-- /Footer Widget -->
        </div>
      </div>
    </div>
  </div>
  <!-- /Footer Top -->

  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="container-fluid">
      <!-- Copyright -->
      <div class="copyright">
        <div class="row">
          <div class="col-md-6">
            <div class="copyright-text">
              <p class="mb-0">&copy; 2021 Mentor.me. All rights reserved.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="social-icon text-md-right">
              <ul>
                <li>
                  <a [routerLink]="'/mentor/my-bookings'" target="_blank"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a [routerLink]="'/mentor/my-bookings'" target="_blank"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </li>
                <li>
                  <a [routerLink]="'/mentor/my-bookings'" target="_blank"
                    ><i class="fab fa-twitter"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /Copyright -->
    </div>
  </div>
  <!-- /Footer Bottom -->
</div>
