<!-- Page Content -->
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-md-12">

				<!-- Blog Post -->
				<div class="blog">
					<div class="blog-image">
						<a [routerLink]="'/blog-details'"><img class="img-fluid" src="assets/img/blog/blog-01.jpg" alt="Post Image"></a>
					</div>
					<h3 class="blog-title"><a [routerLink]="'/blog-details'">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</a></h3>
					<div class="blog-info clearfix">
						<div class="post-left">
							<ul>
								<li>
									<div class="post-author">
										<a [routerLink]="'/mentor-profile'"><img src="assets/img/user/user.jpg" alt="Post Author"> <span>Ruby Perrin</span></a>
									</div>
								</li>
								<li><i class="far fa-clock"></i>4 Dec 2019</li>
								<li><i class="far fa-comments"></i>12 Comments</li>
								<li><i class="fa fa-tags"></i>HTML</li>
							</ul>
						</div>
					</div>
					<div class="blog-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco sit laboris ullamco laborisut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<a [routerLink]="'/blog-details'" class="read-more">Read More</a>
					</div>
				</div>
				<!-- /Blog Post -->

				<!-- Blog Post -->
				<div class="blog">
					<div class="blog-image">
						<a [routerLink]="'/blog-details'"><img class="img-fluid" src="assets/img/blog/blog-02.jpg" alt=""></a>
					</div>
					<h3 class="blog-title"><a [routerLink]="'/blog-details'">1914 translation by H. Rackham</a></h3>
					<div class="blog-info clearfix">
						<div class="post-left">
							<ul>
								<li>
									<div class="post-author">
										<a [routerLink]="'/mentor-profile'"><img src="assets/img/user/user1.jpg" alt="Post Author"> <span>Darren Elder</span></a>
									</div>
								</li>
								<li><i class="far fa-clock"></i>3 Dec 2019</li>
								<li><i class="far fa-comments"></i>7 Comments</li>
								<li><i class="fa fa-tags"></i>Java Script</li>
							</ul>
						</div>
					</div>
					<div class="blog-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco sit laboris ullamco laborisut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<a [routerLink]="'/blog-details'" class="read-more">Read More</a>
					</div>
				</div>
				<!-- /Blog Post -->

				<!-- Blog Post -->
				<div class="blog">
					<div class="blog-image">
						<div class="video">
							<iframe width="940" src="https://www.youtube.com/embed/ZMty6R0Bn0I" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					</div>
					<h3 class="blog-title"><a [routerLink]="'/blog-details'">The standard Lorem Ipsum passage, used since the</a></h3>
					<div class="blog-info clearfix">
						<div class="post-left">
							<ul>
								<li>
									<div class="post-author">
										<a [routerLink]="'/mentor-profile'"><img src="assets/img/user/user2.jpg" alt="Post Author"> <span>Deborah Angel</span></a>
									</div>
								</li>
								<li><i class="far fa-clock"></i>3 Dec 2019</li>
								<li><i class="far fa-comments"></i>2 Comments</li>
								<li><i class="fa fa-tags"></i>C++</li>
							</ul>
						</div>
					</div>
					<div class="blog-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco sit laboris ullamco laborisut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<a [routerLink]="'/blog-details'" class="read-more">Read More</a>
					</div>
				</div>
				<!-- /Blog Post -->

				<!-- Blog Post -->
				<div class="blog">
					<div class="blog-image">
						<div class="video">
							<iframe width="940" src="https://www.youtube.com/embed/svmGQhQLuBQ" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					</div>
					<h3 class="blog-title"><a [routerLink]="'/blog-details'">Section 1.10.32 of "de Finibus Bonorum et Malorum</a></h3>
					<div class="blog-info clearfix">
						<div class="post-left">
							<ul>
								<li>
									<div class="post-author">
										<a [routerLink]="'/mentor-profile'"><img src="assets/img/user/user3.jpg" alt="Post Author"> <span>Sofia Brient</span></a>
									</div>
								</li>
								<li><i class="far fa-clock"></i>2 Dec 2019</li>
								<li><i class="far fa-comments"></i>41 Comments</li>
								<li><i class="fa fa-tags"></i>Css</li>
							</ul>
						</div>
					</div>
					<div class="blog-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco sit laboris ullamco laborisut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<a [routerLink]="'/blog-details'" class="read-more">Read More</a>
					</div>
				</div>
				<!-- /Blog Post -->

				<!-- Blog Pagination -->
				<div class="row">
					<div class="col-md-12">
						<div class="blog-pagination">
							<nav>
								<ul class="pagination justify-content-center">
									<li class="page-item disabled">
										<a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-double-left"></i></a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">1</a>
									</li>
									<li class="page-item active">
										<a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">3</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
				<!-- /Blog Pagination -->

			</div>

			<!-- Blog Sidebar -->
			<div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">
<div class="sticky-div">
				<!-- Search -->
				<div class="card search-widget">
					<div class="card-body">
						<form class="search-form">
							<div class="input-group">
								<input type="text" placeholder="Search..." class="form-control">
								<div class="input-group-append">
									<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- /Search -->

				<!-- Latest Posts -->
				<div class="card post-widget">
					<div class="card-header">
						<h4 class="card-title">Latest Posts</h4>
					</div>
					<div class="card-body">
						<ul class="latest-posts">
							<li *ngFor="let blog of blogs | slice:0:5">
								<div class="post-thumb">
									<a [routerLink]="'/blog-details'" [queryParams]="{id: blog.id}">
										<img class="img-fluid" [src]="blog.img" alt="">
									</a>
								</div>
								<div class="post-info">
									<h4>
										<a [routerLink]="'/blog-details'" [queryParams]="{id: blog.id}">{{blog.title}}</a>
									</h4>
									<p> {{blog.createdAt | date : 'dd MMM yyyy'}}</p>
								</div>
							</li>

						</ul>
					</div>
				</div>
				<!-- /Latest Posts -->
				<!-- Categories -->
				<div class="card category-widget">
					<div class="card-header">
						<h4 class="card-title">Blog Categories</h4>
					</div>
					<div class="card-body" *ngIf="tags">
						<ul class="categories">
							<li *ngFor="let tag of tags | slice:0:6"><a href="javascript:void(0)">{{tag.name}} <span>({{tag.ratings}})</span></a></li>
						</ul>
					</div>
				</div>
				<!-- /Categories -->
				<!-- Tags -->
				<div class="card tags-widget">
					<div class="card-header">
						<h4 class="card-title">Tags</h4>
					</div>
					<div class="card-body" *ngIf="tags">
						<ul class="tags">
							<li *ngFor="let tag of tags"><a href="javascript:void(0)" class="tag">{{tag.name}}</a></li>
						</ul>
					</div>
				</div>
				<!-- /Tags -->
</div>
			</div>
			<!-- /Blog Sidebar -->

		</div>
	</div>
</div>
<!-- /Page Content -->
