<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Add Blog</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/admin'">Dashboard</a></li>
                        <li class="breadcrumb-item active">Add Blog</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">
              <div class="card">
              								<div class="card-body">

              									<!-- Add details -->
              									<div class="row">
              										<div class="col-12 blog-details">
              											<form action="/admin/add-blog">
              					                            <div class="form-group">
              					                                <label>Blog Name</label>
              					                                <input class="form-control" type="text">
              					                            </div>
              					                            <div class="form-group">
              					                                <label>Blog Images</label>
              					                                <div>
              					                                    <input class="form-control" type="file">
              					                                    <small class="form-text text-muted">Max. file size: 50 MB. Allowed images: jpg, gif, png. Maximum 10 images only.</small>
              					                                </div>
              					                            </div>
              					                            <div class="row">
              					                                <div class="col-md-6">
              					                                    <!-- <div class="form-group">
              					                                        <label>Blog Category</label>
              					                                        <select class="select select2-hidden-accessible form-control" tabindex="-1" aria-hidden="true" data-select2-id="1">
              					                                            <option data-select2-id="3">Web Design</option>
              					                                            <option>Web Development</option>
              					                                            <option>App Development</option>
              					                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-disabled="false" aria-labelledby="select2-e9m2-container"><span class="select2-selection__rendered" id="select2-e9m2-container" role="textbox" aria-readonly="true" title="Web Design">Web Design</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
              					                                    </div> -->
                                                            <div class="form-group">
                                                              <label>Blog Category</label>
                                                              <ng-select2  width="100%">
                                                                  <option>Web Design</option>
                                                                  <option>Web Development</option>
                                                                  <option>App Development</option>
                                                              </ng-select2>
                                                            </div>
              					                                </div>
              					                                <div class="col-md-6">
              					                                    <div class="form-group">
              					                                        <label>Blog Sub Category</label>
              					                                        <ng-select2  width="100%">
              					                                            <option data-select2-id="6">Html</option>
              					                                            <option>Css</option>
              					                                            <option>Javascript</option>
              					                                            <option>PHP</option>
              					                                            <option>Codeignitor</option>
              					                                            <option>iOS</option>
              					                                            <option>Android</option>
              					                                          </ng-select2>

              					                                    </div>
              					                                </div>
              					                            </div>
              					                            <div class="form-group">
              					                                <label>Blog Description</label>
              					                                <textarea cols="30" rows="6" class="form-control"></textarea>
              					                            </div>
              					                            <div class="form-group">
              					                                <label class="display-block w-100">Blog Status</label>
              													<div>
              														<div class="custom-control custom-radio custom-control-inline">
              															<input class="custom-control-input" id="active" name="active-blog" value="active" type="radio" checked="">
              															<label class="custom-control-label" for="active">Active</label>
              														</div>
              														<div class="custom-control custom-radio custom-control-inline">
              															<input class="custom-control-input" id="inactive" name="active-blog" value="inactive" type="radio">
              															<label class="custom-control-label" for="inactive">Inactive</label>
              														</div>
              													</div>
              					                            </div>
              					                            <div class="m-t-20 text-center">
              					                                <button class="btn btn-primary btn-lg">Publish Blog</button>
              					                            </div>
              					                        </form>
              										</div>
              									</div>
              									<!-- /Add details -->

              								</div>
              							</div>
            </div>
        </div>

    </div>
</div>
<!-- /Page Wrapper -->
