<!-- Page Content -->
<div class="content">
	<div class="container-fluid">

		<div class="row">
			<div class="col-lg-8 col-md-12">
				<div class="blog-view">
					<div class="blog blog-single-post">
						<div class="blog-image">
							<a href="javascript:void(0);"><img alt="" src="assets/img/blog/blog-01.jpg" class="img-fluid"></a>
						</div>
						<h3 class="blog-title">Lorem Ipsum is simply dummy text of the printing</h3>
						<div class="blog-info clearfix">
							<div class="post-left">
								<ul>
									<li>
										<div class="post-author">
											<a [routerLink]="'/mentor-profile'"><img src="assets/img/user/user.jpg" alt="Post Author"> <span>Marvin Downey</span></a>
										</div>
									</li>
									<li><i class="far fa-calendar"></i>4 Dec 2019</li>
									<li><i class="far fa-comments"></i>12 Comments</li>
									<li><i class="fa fa-tags"></i>HTML</li>
								</ul>
							</div>
						</div>
						<div class="blog-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
						</div>
					</div>

					<div class="card blog-share clearfix">
						<div class="card-header">
							<h4 class="card-title">Share the post</h4>
						</div>
						<div class="card-body">
							<ul class="social-share">
								<li><a href="javascript:void(0);" title="Facebook"><i class="fab fa-facebook"></i></a></li>
								<li><a href="javascript:void(0);" title="Twitter"><i class="fab fa-twitter"></i></a></li>
								<li><a href="javascript:void(0);" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="javascript:void(0);" title="Google Plus"><i class="fab fa-google-plus"></i></a></li>
								<li><a href="javascript:void(0);" title="Youtube"><i class="fab fa-youtube"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="card author-widget clearfix">
						<div class="card-header">
							<h4 class="card-title">About Author</h4>
						</div>
						<div class="card-body">
							<div class="about-author">
								<div class="about-author-img">
									<div class="author-img-wrap">
										<a [routerLink]="'/mentor-profile'"><img class="img-fluid rounded-circle" alt="" src="assets/img/user/user1.jpg"></a>
									</div>
								</div>
								<div class="author-details">
									<a [routerLink]="'/mentor-profile'" class="blog-author-name">Darren Elder</a>
									<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="card blog-comments clearfix">
						<div class="card-header">
							<h4 class="card-title">Comments (12)</h4>
						</div>
						<div class="card-body pb-0">
							<ul class="comments-list">
								<li>
									<div class="comment">
										<div class="comment-author">
											<img class="avatar" alt="" src="assets/img/user/user4.jpg">
										</div>
										<div class="comment-block">
											<span class="comment-by">
												<span class="blog-author-name">Michelle Fairfax</span>
											</span>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
											<p class="blog-date">Dec 6, 2017</p>
											<a class="comment-btn" href="javascript:void(0);">
												<i class="fas fa-reply"></i> Reply
											</a>
										</div>
									</div>
									<ul class="comments-list reply">
										<li>
											<div class="comment">
												<div class="comment-author">
													<img class="avatar" alt="" src="assets/img/user/user5.jpg">
												</div>
												<div class="comment-block">
													<span class="comment-by">
														<span class="blog-author-name">Gina Moore</span>
													</span>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
													<p class="blog-date">Dec 6, 2017</p>
													<a class="comment-btn" href="javascript:void(0);">
														<i class="fas fa-reply"></i> Reply
													</a>
												</div>
											</div>
										</li>
										<li>
											<div class="comment">
												<div class="comment-author">
													<img class="avatar" alt="" src="assets/img/user/user3.jpg">
												</div>
												<div class="comment-block">
													<span class="comment-by">
														<span class="blog-author-name">Carl Kelly</span>
													</span>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
													<p class="blog-date">December 7, 2017</p>
													<a class="comment-btn" href="javascript:void(0);">
														<i class="fas fa-reply"></i> Reply
													</a>
												</div>
											</div>
										</li>
									</ul>
								</li>
								<li>
									<div class="comment">
										<div class="comment-author">
											<img class="avatar" alt="" src="assets/img/user/user6.jpg">
										</div>
										<div class="comment-block">
											<span class="comment-by">
												<span class="blog-author-name">Elsie Gilley</span>
											</span>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
											<p class="blog-date">December 11, 2017</p>
										</div>
									</div>
								</li>
								<li>
									<div class="comment">
										<div class="comment-author">
											<img class="avatar" alt="" src="assets/img/user/user7.jpg">
										</div>
										<div class="comment-block">
											<span class="comment-by">
												<span class="blog-author-name">Joan Gardner</span>
											</span>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
											<p class="blog-date">December 13, 2017</p>
											<a class="comment-btn" href="javascript:void(0);">
												<i class="fas fa-reply"></i> Reply
											</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>

					<div class="card new-comment clearfix">
						<div class="card-header">
							<h4 class="card-title">Leave Comment</h4>
						</div>
						<div class="card-body">
							<form>
								<div class="form-group">
									<label>Name <span class="text-danger">*</span></label>
									<input type="text" class="form-control">
								</div>
								<div class="form-group">
									<label>Your Email Address <span class="text-danger">*</span></label>
									<input type="email" class="form-control">
								</div>
								<div class="form-group">
									<label>Comments</label>
									<textarea rows="4" class="form-control"></textarea>
								</div>
								<div class="submit-section">
									<a class="btn btn-primary submit-btn" type="submit" href="/blog-details">Submit</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<!-- Blog Sidebar -->
			<div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">
<div class="sticky-div">
				<!-- Search -->
				<div class="card search-widget">
					<div class="card-body">
						<form class="search-form">
							<div class="input-group">
								<input type="text" placeholder="Search..." class="form-control">
								<div class="input-group-append">
									<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- /Search -->

				<!-- Latest Posts -->
				<div class="card post-widget">
					<div class="card-header">
						<h4 class="card-title">Latest Posts</h4>
					</div>
					<div class="card-body">
						<ul class="latest-posts">
							<li *ngFor="let blog of blogs | slice:0:5">
								<div class="post-thumb">
									<a [routerLink]="'/blog-details'" [queryParams]="{id: blog.id}">
										<img class="img-fluid" [src]="blog.img" alt="">
									</a>
								</div>
								<div class="post-info">
									<h4>
										<a [routerLink]="'/blog-details'" [queryParams]="{id: blog.id}">{{blog.title}}</a>
									</h4>
									<p> {{blog.createdAt | date : 'dd MMM yyyy'}}</p>
								</div>
							</li>

						</ul>
					</div>
				</div>
				<!-- /Latest Posts -->
				<!-- Categories -->
				<div class="card category-widget">
					<div class="card-header">
						<h4 class="card-title">Blog Categories</h4>
					</div>
					<div class="card-body" *ngIf="tags">
						<ul class="categories">
							<li *ngFor="let tag of tags | slice:0:6"><a href="javascript:void(0)">{{tag.name}} <span>({{tag.ratings}})</span></a></li>
						</ul>
					</div>
				</div>
				<!-- /Categories -->
				<!-- Tags -->
				<div class="card tags-widget">
					<div class="card-header">
						<h4 class="card-title">Tags</h4>
					</div>
					<div class="card-body" *ngIf="tags">
						<ul class="tags">
							<li *ngFor="let tag of tags"><a href="javascript:void(0)" class="tag">{{tag.name}}</a></li>
						</ul>
					</div>
				</div>
				<!-- /Tags -->
</div>
			</div>
			<!-- /Blog Sidebar -->

		</div>
	</div>
</div>
<!-- /Page Content -->
