<!-- Home Banner -->
<section class="section section-search">
  <div class="container">
    <div class="banner-wrapper m-auto text-center">
      <div class="banner-header">
        <h1>Search Mentor in <span>our</span> platform</h1>
        <p>Discover the best mentors within the country.</p>
      </div>

      <!-- Search -->
      <div class="search-box">
        <form action="/search-mentor">
          <div class="form-search">
            <div class="form-inner">
              <div class="form-group search-location">
                <i class="material-icons">my_location</i>
                <ng-select2 width="100%">
                  <option>Online</option>
                  <option>Tashkent</option>
                  <option>Samarkand</option>
                  <option>Andijan</option>
                </ng-select2>
              </div>
              <div class="form-group search-info">
                <i class="material-icons">location_city</i>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search Mentors..."
                />
              </div>
              <button
                type="submit"
                class="btn btn-secondary search-btn mt-0"
                [routerLink]="'/search-mentor'"
              >
                Search <i class="fas fa-long-arrow-alt-right"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- /Search -->
    </div>
  </div>
</section>
<!-- /Home Banner -->
<section class="section how-it-works">
  <div class="container">
    <div class="section-header text-center">
      <span>Mentoring Flow</span>
      <h2>How does it works ?</h2>
      <p class="sub-title">
        Are you looking to join online mentorship? Now it's very simple, Sign up
        with Mentor.me
      </p>
      <div class="sec-dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="row justify-content-center feature-list">
      <div class="col-12 col-md-4 col-lg-3">
        <div class="feature-box text-center top-box">
          <div class="feature-header">
            <div class="feature-icon">
              <span class="circle bg-green"
                ><i class="fas fa-sign-in-alt"></i
              ></span>
            </div>
            <div class="feature-cont">
              <div class="feature-text">Sign up</div>
            </div>
          </div>
          <p>
            Are you looking to join online learning? Now it's very simple, Now
            Sign up
          </p>
          <span class="text-green">01</span>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3 offset-lg-1">
        <div class="feature-box text-center">
          <div class="feature-header">
            <div class="feature-icon">
              <span class="circle bg-blue"
                ><i class="material-icons">accessibility</i></span
              >
            </div>
            <div class="feature-cont">
              <div class="feature-text">Collaborate</div>
            </div>
          </div>
          <p>
            Collaborate on your own timing, by scheduling with mentor booking
          </p>
          <span class="text-blue">02</span>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3 offset-lg-1">
        <div class="feature-box text-center top-box">
          <div class="feature-header">
            <div class="feature-icon">
              <span class="circle bg-orange"
                ><i class="material-icons">event_seat</i></span
              >
            </div>
            <div class="feature-cont">
              <div class="feature-text">Improve &amp; Get Back</div>
            </div>
          </div>
          <p>
            you can gather different skill set, and you can become mentor too
          </p>
          <span class="text-orange">03</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Popular Mendor -->

<section class="section popular-mendors">
  <div class="mendor-title">
    <div class="section-header text-center">
      <div class="container">
        <span>Mentoring Goals</span>
        <h2 class="text-white">Popular Mentors</h2>
        <p class="sub-title text-white">
          Choose your most popular leaning mentors, it will help you to achieve
          your professional goals..
        </p>
        <div class="sec-dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="mendor-list">
    <div class="container">
      <ngx-slick-carousel
        class="carousel mendor-slider slick"
        #slickModal="slick-carousel"
        [config]="slideConfig"
      >
        <div ngxSlickItem *ngFor="let slide of slides" class="mendor-box">
          <div class="mendor-img">
            <a [routerLink]="'/mentor-profile'" [queryParams]="{ id: 1 }">
              <img
                class="img-fluid"
                alt=""
                src="{{ slide.img }}"
                width="600"
                height="300"
              />
            </a>
            <div class="country">
              <i class="fas fa-map-marker-alt"></i> {{ slide.country }}
            </div>
          </div>
          <div class="mendor-content">
            <h3 class="title">
              <a [routerLink]="'/mentor-profile'" [queryParams]="{ id: 1 }">{{
                slide.profile_name
              }}</a>
            </h3>
            <div class="course">
              {{ slide.author }}
            </div>

            <div class="price-list">
              <div class="price">$500 <span>/ hr</span></div>
              <div class="rating">
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</section>

<!-- /Popular Mendor -->
<section class="section path-section">
  <div class="section-header text-center">
    <div class="container">
      <span>Choose the</span>
      <h2>Different All Learning Paths</h2>
      <p class="sub-title">
        Are you looking to join online mentorships? Now it's very simple, Sign
        up with mentoring
      </p>
      <div class="sec-dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <div class="course-sec">
    <div class="container">
      <div class="row">
        <!-- Course Item -->
        <div class="col-12 col-md-6 col-lg-3">
          <div class="course-item">
            <a [routerLink]="'/search-mentor'" class="course-img">
              <div class="image-col-merge">
                <img src="assets/img/course/course-01.jpg" alt="learn" />
                <div class="course-text">
                  <h5>Digital Marketer</h5>
                  <div class="d-flex justify-content-between">
                    <p>400 Mentors</p>
                    <p>10 Courses</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- /Course Item -->
        <!-- Course Item -->
        <div class="col-12 col-md-6 col-lg-3">
          <div class="course-item">
            <a [routerLink]="'/search-mentor'" class="course-img">
              <div class="image-col-merge">
                <img src="assets/img/course/course-02.jpg" alt="learn" />
                <div class="course-text">
                  <h5>Digital Marketer</h5>
                  <div class="d-flex justify-content-between">
                    <p>400 Mentors</p>
                    <p>10 Courses</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- /Course Item -->
        <!-- Course Item -->
        <div class="col-12 col-md-6 col-lg-3">
          <div class="course-item">
            <a [routerLink]="'/search-mentor'" class="course-img">
              <div class="image-col-merge">
                <img src="assets/img/course/course-03.jpg" alt="learn" />
                <div class="course-text">
                  <h5>Digital Marketer</h5>
                  <div class="d-flex justify-content-between">
                    <p>400 Mentors</p>
                    <p>10 Courses</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- /Course Item -->
        <!-- Course Item -->
        <div class="col-12 col-md-6 col-lg-3">
          <div class="course-item">
            <a [routerLink]="'/search-mentor'" class="course-img">
              <div class="image-col-merge">
                <img src="assets/img/course/course-04.jpg" alt="learn" />
                <div class="course-text">
                  <h5>Digital Marketer</h5>
                  <div class="d-flex justify-content-between">
                    <p>400 Mentors</p>
                    <p>10 Courses</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- /Course Item -->
        <!-- Course Item -->
        <div class="col-12 col-md-6 col-lg-3">
          <div class="course-item">
            <a [routerLink]="'/search-mentor'" class="course-img">
              <div class="image-col-merge">
                <img src="assets/img/course/course-05.jpg" alt="learn" />
                <div class="course-text">
                  <h5>Digital Marketer</h5>
                  <div class="d-flex justify-content-between">
                    <p>400 Mentors</p>
                    <p>10 Courses</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- /Course Item -->
        <!-- Course Item -->
        <div class="col-12 col-md-6 col-lg-3">
          <div class="course-item">
            <a [routerLink]="'/search-mentor'" class="course-img">
              <div class="image-col-merge">
                <img src="assets/img/course/course-06.jpg" alt="learn" />
                <div class="course-text">
                  <h5>Digital Marketer</h5>
                  <div class="d-flex justify-content-between">
                    <p>400 Mentors</p>
                    <p>10 Courses</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- /Course Item -->
        <!-- Course Item -->
        <div class="col-12 col-md-6 col-lg-3">
          <div class="course-item">
            <a [routerLink]="'/search-mentor'" class="course-img">
              <div class="image-col-merge">
                <img src="assets/img/course/course-07.jpg" alt="learn" />
                <div class="course-text">
                  <h5>Digital Marketer</h5>
                  <div class="d-flex justify-content-between">
                    <p>400 Mentors</p>
                    <p>10 Courses</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- /Course Item -->
        <!-- Course Item -->
        <div class="col-12 col-md-6 col-lg-3">
          <div class="course-item">
            <a [routerLink]="'/search-mentor'" class="course-img">
              <div class="image-col-merge">
                <img src="assets/img/course/course-08.jpg" alt="learn" />
                <div class="course-text">
                  <h5>Digital Marketer</h5>
                  <div class="d-flex justify-content-between">
                    <p>400 Mentors</p>
                    <p>10 Courses</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- /Course Item -->
      </div>
      <div class="view-all text-center">
        <a [routerLink]="'/search-mentor'" class="btn btn-primary btn-view"
          >View All</a
        >
      </div>
    </div>
  </div>
</section>
<section class="section profile-section">
  <div class="section-header text-center">
    <div class="container">
      <span>MOST VIEWED</span>
      <h2>Featured Profile of this week</h2>
      <p class="sub-title">
        Are you looking to join online mentorship? Now it's very simple, Sign up
        with mentoring
      </p>
      <div class="sec-dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- Profile Item -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="profile-list">
          <div class="profile-detail">
            <div class="profile-img">
              <img
                class="img-fluid"
                alt=""
                src="assets/img/mendor/mendor-01.jpg"
              />
            </div>
            <div class="profile-content">
              <h4>Donna Yancey</h4>
              <p>UNIX, Calculus, Trigonometry</p>
            </div>
          </div>
          <div class="profile-rating">
            <div class="rating">
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="price-box">$500 <span>/ hr</span></div>
          </div>
        </div>
      </div>
      <!-- /Profile Item -->
      <!-- Profile Item -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="profile-list">
          <div class="profile-detail">
            <div class="profile-img">
              <img
                class="img-fluid"
                alt=""
                src="assets/img/mendor/mendor-01.jpg"
              />
            </div>
            <div class="profile-content">
              <h4>Donna Yancey</h4>
              <p>UNIX, Calculus, Trigonometry</p>
            </div>
          </div>
          <div class="profile-rating">
            <div class="rating">
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="price-box">$500 <span>/ hr</span></div>
          </div>
        </div>
      </div>
      <!-- /Profile Item -->
      <!-- Profile Item -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="profile-list">
          <div class="profile-detail">
            <div class="profile-img">
              <img
                class="img-fluid"
                alt=""
                src="assets/img/mendor/mendor-01.jpg"
              />
            </div>
            <div class="profile-content">
              <h4>Donna Yancey</h4>
              <p>UNIX, Calculus, Trigonometry</p>
            </div>
          </div>
          <div class="profile-rating">
            <div class="rating">
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="price-box">$500 <span>/ hr</span></div>
          </div>
        </div>
      </div>
      <!-- /Profile Item -->
      <!-- Profile Item -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="profile-list">
          <div class="profile-detail">
            <div class="profile-img">
              <img
                class="img-fluid"
                alt=""
                src="assets/img/mendor/mendor-01.jpg"
              />
            </div>
            <div class="profile-content">
              <h4>Donna Yancey</h4>
              <p>UNIX, Calculus, Trigonometry</p>
            </div>
          </div>
          <div class="profile-rating">
            <div class="rating">
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="price-box">$500 <span>/ hr</span></div>
          </div>
        </div>
      </div>
      <!-- /Profile Item -->
    </div>
  </div>
</section>
<section class="section statistics-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="statistics-list">
          <div class="statistics-icon">
            <i class="fas fa-street-view"></i>
          </div>
          <div class="statistics-content">
            <span>500+</span>
            <h3>Happy Clients</h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="statistics-list">
          <div class="statistics-icon">
            <i class="fas fa-history"></i>
          </div>
          <div class="statistics-content">
            <span>120+</span>
            <h3>Online Appointments</h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="statistics-list">
          <div class="statistics-icon">
            <i class="fas fa-user-check"></i>
          </div>
          <div class="statistics-content">
            <span>100%</span>
            <h3>Job Satisfaction</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-blogs">
  <div class="container">
    <!-- Section Header -->
    <div class="section-header text-center">
      <span>LATEST</span>
      <h2>Blogs &amp; News</h2>
      <p class="sub-title">
        Are you looking to join online mentorship? Now it's very simple, Sign up
        with mentoring
      </p>
      <div class="sec-dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <!-- /Section Header -->
    <div class="row blog-grid-row">
      <div class="col-md-6 col-lg-4 col-sm-12">
        <!-- Blog Post -->
        <div class="blog grid-blog">
          <div class="blog-image">
            <a [routerLink]="'/blog-details'"
              ><img
                class="img-fluid"
                src="assets/img/blog/blog-01.jpg"
                alt="Post Image"
            /></a>
          </div>
          <div class="blog-content">
            <div class="blog-month">04 <span>Dec</span></div>
            <ul class="entry-meta meta-item">
              <li>
                <div class="post-author">
                  <a [routerLink]="'/blog-details'"
                    ><span>Tyrone Roberts</span></a
                  >
                </div>
              </li>
            </ul>
            <h3 class="blog-title">
              <a [routerLink]="'/blog-details'"
                >What is Lorem Ipsum? Lorem Ipsum is simply</a
              >
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do
              eiusmod tempor.
            </p>
            <a [routerLink]="'/blog-details'" class="read">Read more</a>
          </div>
        </div>
        <!-- /Blog Post -->
      </div>
      <div class="col-md-6 col-lg-4 col-sm-12">
        <!-- Blog Post -->
        <div class="blog grid-blog">
          <div class="blog-image">
            <a [routerLink]="'/blog-details'"
              ><img
                class="img-fluid"
                src="assets/img/blog/blog-01.jpg"
                alt="Post Image"
            /></a>
          </div>
          <div class="blog-content">
            <div class="blog-month">04 <span>Dec</span></div>
            <ul class="entry-meta meta-item">
              <li>
                <div class="post-author">
                  <a [routerLink]="'/blog-details'"
                    ><span>Tyrone Roberts</span></a
                  >
                </div>
              </li>
            </ul>
            <h3 class="blog-title">
              <a [routerLink]="'/blog-details'"
                >What is Lorem Ipsum? Lorem Ipsum is simply</a
              >
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do
              eiusmod tempor.
            </p>
            <a [routerLink]="'/blog-details'" class="read">Read more</a>
          </div>
        </div>
        <!-- /Blog Post -->
      </div>
      <div class="col-md-6 col-lg-4 col-sm-12">
        <!-- Blog Post -->
        <div class="blog grid-blog">
          <div class="blog-image">
            <a [routerLink]="'/blog-details'"
              ><img
                class="img-fluid"
                src="assets/img/blog/blog-01.jpg"
                alt="Post Image"
            /></a>
          </div>
          <div class="blog-content">
            <div class="blog-month">04 <span>Dec</span></div>
            <ul class="entry-meta meta-item">
              <li>
                <div class="post-author">
                  <a [routerLink]="'/blog-details'"
                    ><span>Tyrone Roberts</span></a
                  >
                </div>
              </li>
            </ul>
            <h3 class="blog-title">
              <a [routerLink]="'/blog-details'"
                >What is Lorem Ipsum? Lorem Ipsum is simply</a
              >
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do
              eiusmod tempor.
            </p>
            <a [routerLink]="'/blog-details'" class="read">Read more</a>
          </div>
        </div>
        <!-- /Blog Post -->
      </div>
    </div>
    <div class="view-all text-center">
      <a [routerLink]="'/blog'" class="btn btn-primary btn-view">View All</a>
    </div>
  </div>
</section>
