<!-- Page Content -->
<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="row blog-grid-row">
          <div class="col-md-6 col-sm-12">

            <!-- Blog Post -->
            <div class="blog grid-blog">
              <div class="blog-image">
                <a [routerLink]="'/blog-details'"><img class="img-fluid" src="assets/img/blog/blog-01.jpg" alt="Post Image"></a>
              </div>
              <div class="blog-content">
                <div class="blog-month">04 <span>Dec</span></div>
                <ul class="entry-meta meta-item">
                  <li>
                    <div class="post-author">
                      <a [routerLink]="'/mentor-profile'"><span>Ruby Perrin</span></a>
                    </div>
                  </li>
                </ul>
                <h3 class="blog-title"><a [routerLink]="'/blog-details'">Sed ut perspiciatis unde omnis iste natus</a></h3>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
              </div>
            </div>
            <!-- /Blog Post -->

          </div>
          <div class="col-md-6 col-sm-12">

            <!-- Blog Post -->
            <div class="blog grid-blog">
              <div class="blog-image">
                <a [routerLink]="'/blog-details'"><img class="img-fluid" src="assets/img/blog/blog-02.jpg" alt="Post Image"></a>
              </div>
              <div class="blog-content">
              <div class="blog-month">04 <span>Dec</span></div>
                <ul class="entry-meta meta-item">
                  <li>
                    <div class="post-author">
                      <a [routerLink]="'/mentor-profile'"><span>Darren Elder</span></a>
                    </div>
                  </li>
                </ul>
                <h3 class="blog-title"><a [routerLink]="'/blog-details'">1914 translation by H. Rackham?</a></h3>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
              </div>
            </div>
            <!-- /Blog Post -->

          </div>
          <div class="col-md-6 col-sm-12">

            <!-- Blog Post -->
            <div class="blog grid-blog">
              <div class="blog-image">
                <a [routerLink]="'/blog-details'"><img class="img-fluid" src="assets/img/blog/blog-03.jpg" alt="Post Image"></a>
              </div>
              <div class="blog-content">
              <div class="blog-month">04 <span>Dec</span></div>
                <ul class="entry-meta meta-item">
                  <li>
                    <div class="post-author">
                      <a [routerLink]="'/mentor-profile'"><span>Deborah Angel</span></a>
                    </div>
                  </li>
                </ul>
                <h3 class="blog-title"><a [routerLink]="'/blog-details'">At vero eos et accusamus et iusto odio</a></h3>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
              </div>
            </div>
            <!-- /Blog Post -->

          </div>
          <div class="col-md-6 col-sm-12">

            <!-- Blog Post -->
            <div class="blog grid-blog">
              <div class="blog-image">
                <a [routerLink]="'/blog-details'"><img class="img-fluid" src="assets/img/blog/blog-04.jpg" alt="Post Image"></a>
              </div>
              <div class="blog-content">
              <div class="blog-month">04 <span>Dec</span></div>
                <ul class="entry-meta meta-item">
                  <li>
                    <div class="post-author">
                      <a [routerLink]="'/mentor-profile'"><span>Sofia Brient</span></a>
                    </div>
                  </li>
                </ul>
                <h3 class="blog-title"><a [routerLink]="'/blog-details'">On the other hand, we denounce with righte</a></h3>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
              </div>
            </div>
            <!-- /Blog Post -->

          </div>
          <div class="col-md-6 col-sm-12">

            <!-- Blog Post -->
            <div class="blog grid-blog">
              <div class="blog-image">
                <a [routerLink]="'/blog-details'"><img class="img-fluid" src="assets/img/blog/blog-05.jpg" alt="Post Image"></a>
              </div>
              <div class="blog-content">
                <div class="blog-month">04 <span>Dec</span></div>
                <ul class="entry-meta meta-item">
                  <li>
                    <div class="post-author">
                      <a [routerLink]="'/mentor-profile'"><span>Marvin Campbell</span></a>
                    </div>
                  </li>
                </ul>
                <h3 class="blog-title"><a [routerLink]="'/blog-details'">The standard chunk of Lorem Ipsum used since</a></h3>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
              </div>
            </div>
            <!-- /Blog Post -->

          </div>
          <div class="col-md-6 col-sm-12">

            <!-- Blog Post -->
            <div class="blog grid-blog">
              <div class="blog-image">
                <a [routerLink]="'/blog-details'"><img class="img-fluid" src="assets/img/blog/blog-06.jpg" alt="Post Image"></a>
              </div>
              <div class="blog-content">
                <div class="blog-month">04 <span>Dec</span></div>
                <ul class="entry-meta meta-item">
                  <li>
                    <div class="post-author">
                      <a [routerLink]="'/mentor-profile'"><span>Katharine Berthold</span></a>
                    </div>
                  </li>
                </ul>
                <h3 class="blog-title"><a [routerLink]="'/blog-details'">There are many variations of passages of Lorem</a></h3>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
              </div>
            </div>
            <!-- /Blog Post -->

          </div>
          <div class="col-md-6 col-sm-12">

            <!-- Blog Post -->
            <div class="blog grid-blog">
              <div class="blog-image">
                <a [routerLink]="'/blog-details'"><img class="img-fluid" src="assets/img/blog/blog-07.jpg" alt="Post Image"></a>
              </div>
              <div class="blog-content">
                <div class="blog-month">04 <span>Dec</span></div>
                <ul class="entry-meta meta-item">
                  <li>
                    <div class="post-author">
                      <a [routerLink]="'/mentor-profile'"><span>Linda Tobin</span></a>
                    </div>
                  </li>
                </ul>
                <h3 class="blog-title"><a [routerLink]="'/blog-details'">It is a long established fact that</a></h3>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
              </div>
            </div>
            <!-- /Blog Post -->

          </div>
          <div class="col-md-6 col-sm-12">

            <!-- Blog Post -->
            <div class="blog grid-blog">
              <div class="blog-image">
                <a [routerLink]="'/blog-details'"><img class="img-fluid" src="assets/img/blog/blog-08.jpg" alt="Post Image"></a>
              </div>
              <div class="blog-content">
                <div class="blog-month">04 <span>Dec</span></div>
                <ul class="entry-meta meta-item">
                  <li>
                    <div class="post-author">
                      <a [routerLink]="'/mentor-profile'"><span>Paul Richard </span></a>
                    </div>
                  </li>
                </ul>
                <h3 class="blog-title"><a [routerLink]="'/blog-details'">Contrary to popular belief, Lorem </a></h3>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
              </div>
            </div>
            <!-- /Blog Post -->

          </div>
          <div class="col-md-6 col-sm-12">

            <!-- Blog Post -->
            <div class="blog grid-blog">
              <div class="blog-image">
                <a [routerLink]="'/blog-details'"><img class="img-fluid" src="assets/img/blog/blog-09.jpg" alt="Post Image"></a>
              </div>
              <div class="blog-content">
                <div class="blog-month">04 <span>Dec</span></div>
                <ul class="entry-meta meta-item">
                  <li>
                    <div class="post-author">
                      <a [routerLink]="'/mentor-profile'"><span>John Gibbs</span></a>
                    </div>
                  </li>
                </ul>
                <h3 class="blog-title"><a [routerLink]="'/blog-details'">packages and web page editors now use Lorem</a></h3>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
              </div>
            </div>
            <!-- /Blog Post -->

          </div>
          <div class="col-md-6 col-sm-12">

            <!-- Blog Post -->
            <div class="blog grid-blog">
              <div class="blog-image">
                <a [routerLink]="'/blog-details'"><img class="img-fluid" src="assets/img/blog/blog-10.jpg" alt="Post Image"></a>
              </div>
              <div class="blog-content">
                <div class="blog-month">04 <span>Dec</span></div>
                <ul class="entry-meta meta-item">
                  <li>
                    <div class="post-author">
                      <a [routerLink]="'/mentor-profile'"><span>Olga Barlow</span></a>
                    </div>
                  </li>
                </ul>
                <h3 class="blog-title"><a [routerLink]="'/blog-details'">Lorem Ipsum is simply dummy</a></h3>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
              </div>
            </div>
            <!-- /Blog Post -->

          </div>
        </div>

        <!-- Blog Pagination -->
        <div class="row">
          <div class="col-md-12">
            <div class="blog-pagination">
              <nav>
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-double-left"></i></a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <!-- /Blog Pagination -->

      </div>

      <!-- Blog Sidebar -->
      <div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">
<div class="sticky-div">
        <!-- Search -->
        <div class="card search-widget">
          <div class="card-body">
            <form class="search-form">
              <div class="input-group">
                <input type="text" placeholder="Search..." class="form-control">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- /Search -->

        <!-- Latest Posts -->
        <div class="card post-widget">
          <div class="card-header">
            <h4 class="card-title">Latest Posts</h4>
          </div>
          <div class="card-body">
            <ul class="latest-posts">
              <li *ngFor="let blog of blogs | slice:0:5">
                <div class="post-thumb">
                  <a [routerLink]="'/blog-details'" [queryParams]="{id: blog.id}">
                    <img class="img-fluid" [src]="blog.img" alt="">
                  </a>
                </div>
                <div class="post-info">
                  <h4>
                    <a [routerLink]="'/blog-details'" [queryParams]="{id: blog.id}">{{blog.title}}</a>
                  </h4>
                  <p> {{blog.createdAt | date : 'dd MMM yyyy'}}</p>
                </div>
              </li>

            </ul>
          </div>
        </div>
        <!-- /Latest Posts -->
        <!-- Categories -->
        <div class="card category-widget">
          <div class="card-header">
            <h4 class="card-title">Blog Categories</h4>
          </div>
          <div class="card-body" *ngIf="tags">
            <ul class="categories">
              <li *ngFor="let tag of tags | slice:0:6"><a href="javascript:void(0)">{{tag.name}} <span>({{tag.ratings}})</span></a></li>
            </ul>
          </div>
        </div>
        <!-- /Categories -->
        <!-- Tags -->
        <div class="card tags-widget">
          <div class="card-header">
            <h4 class="card-title">Tags</h4>
          </div>
          <div class="card-body" *ngIf="tags">
            <ul class="tags">
              <li *ngFor="let tag of tags"><a href="javascript:void(0)" class="tag">{{tag.name}}</a></li>
            </ul>
          </div>
        </div>
        <!-- /Tags -->
</div>
      </div>
      <!-- /Blog Sidebar -->

    </div>
  </div>
</div>
<!-- /Page Content -->
